{% extends "base.html" %}
{% block title %}Card Data{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'card_data.css' %}">
    <div id="main-container">
        <div id="card-container">
        <img id="card-image" src="/static/images/CardImages/{{ image_name }}.jpg">
        {% if card_type == "Warlord" %}
            <br><button id="bloodied-toggle" onclick="changeBloodied();">View Bloodied Side</button>
        {% elif errata_text == "There is Errata" %}
            <br><button id="errata-toggle" onclick="changeErrata();">View Errata Version</button>
        {% endif %}
        </div>
        <div id="card-info">
            <div id="card-name">
                <h2>{{ card_name }}</h2>
            </div>
            <h3>{{ faction }}</h3>
            <h3>{{ loyalty }} {{ card_type }}</h3>
            <h3>{{ traits }}</h3>
            <h3>{{ text|linebreaks }}</h3>
            {% if cost != "-1" %}
                <h3>Cost: {{ cost }}</h3>
            {% endif %}
            <p></p>
            {% if shields != "0" %}
                <h3>Shields: {{ shields }}</h3>
            {% endif %}
            {% if card_type == "Warlord" %}
                <h3>{{ attack }} attack, {{ health }} health</h3>
            {% elif is_unit == "True" %}
                <h3>{{ command }} command, {{ attack }} attack, {{ health }} health</h3>
            {% endif %}
            {% if card_type == "Warlord" %}
                <h3>When bloodied:</h3>
                <h3>{{ bloodied_text|linebreaks }}</h3>
                <h3>{{ bloodied_attack }} attack, {{ bloodied_health }} health</h3>
            {% endif %}
        </div>
        {% if errata_text == "There is Errata" %}
        <div id="errata-card-info">
            <div id="errata-card-name">
                <h2>{{ errata_card_name }}</h2>
            </div>
            <h3>{{ errata_faction }}</h3>
            <h3>{{ errata_loyalty }} {{ errata_card_type }}</h3>
            <h3>{{ errata_traits }}</h3>
            <h3>{{ errata_full_text|linebreaks }}</h3>
            {% if errata_cost != "-1" %}
                <h3>Cost: {{ errata_cost }}</h3>
            {% endif %}
            <p></p>
            {% if errata_shields != "0" %}
                <h3>Shields: {{ errata_shields }}</h3>
            {% endif %}
            {% if errata_card_type == "Warlord" %}
                <h3>{{ errata_attack }} attack, {{ errata_health }} health</h3>
            {% elif errata_is_unit == "True" %}
                <h3>{{ errata_command }} command, {{ errata_attack }} attack, {{ errata_health }} health</h3>
            {% endif %}
            {% if errata_card_type == "Warlord" %}
                <h3>When bloodied:</h3>
                <h3>{{ errata_bloodied_text|linebreaks }}</h3>
                <h3>{{ errata_bloodied_attack }} attack, {{ errata_bloodied_health }} health</h3>
            {% endif %}
        </div>
        {% endif %}
        <div id="ban-info">
            <div id="ban-header">
                <h2>Banlist/Errata</h2>
            </div>
            <h3>{{ errata_text }}</h3>
            <h3>{{ ban_text }}</h3>
        </div>
    </div>
    <div id="card-reviews">
        {% if noc is True %}
            <div>
                No comments yet.
            </div>
        {% endif %}
        {% for name, time, text, id in comments %}
        <div class="comment-class">
            <div class="comment-name">
                <img class="comment-avatar" src="/media/{{ name }}.jpg" onerror="this.onerror=null; this.src='/static/images/defaultprofile.jpg'">
                <p>{{ name }}<br>{{ time }}</p>
            </div>
            <h3 class="comment-content"> {{ text|linebreaks }}</h3>
            {% if user.username == name %}
                <form class="delete-comment" method="post">
                    {% csrf_token %}
                            <input name="username" value="{{ user.username }}" style="display:none;">
                            <input name="flag" value="DELETE" style="display:none;">
                            <input name="idcomment" value="{{ id }}" style="display:none;">
                    <button type="submit">Delete</button>
                </form>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <form id="comment-form" method="post">
        {% csrf_token %}
        Write a comment using the text box below.<br>
        <input id="username" name="username" value="{{ user.username }}" style="display:none;">
        <input name="flag" value="POST" style="display:none;">
        <textarea id="commentInput" name="comment" rows="10" cols="80"></textarea><br>
        <button type="submit">Submit</button>
    </form>
<script>
    const image = document.getElementById("card-image");
    const bloodied_button = document.getElementById("bloodied-toggle");
    const errata_button = document.getElementById("errata-toggle");
    function changeBloodied() {
        if (image.src.includes("_bloodied")) {
            image.src = image.src.replace("_bloodied", "");
            bloodied_button.innerHTML = "View Bloodied Side";
        } else {
            image.src = image.src.replace(".jpg", "_bloodied.jpg");
            bloodied_button.innerHTML = "View Hale Side";
        }
    }

    function changeErrata() {
        if (image.src.includes("_apoka")) {
            image.src = image.src.replace("_apoka", "");
            errata_button.innerHTML = "View Original Version";
            var e = document.getElementById("card-info");
            e.style.display = "block";
            e = document.getElementById("errata-card-info");
            e.style.display = "none";
        } else {
            image.src = image.src.replace(".jpg", "_apoka.jpg");
            errata_button.innerHTML = "View Errata Version";
            var e = document.getElementById("card-info");
            e.style.display = "none";
            e = document.getElementById("errata-card-info");
            e.style.display = "block";
        }
    }
</script>
{% endblock %}
