{% extends "base.html" %}
{% block title %}Card Data{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'card_data.css' %}">
    <h1>Card Data Placeholder</h1>
    <div id="main-container">
        <div id="card-container">
        <img id="card-image" src="/static/images/CardImages/{{ image_name }}.jpg">
        {% if card_type == "Warlord" %}
            <br><button id="bloodied-toggle" onclick="changeBloodied();">View Bloodied Side</button>
        {% endif %}
        </div>
        <div id="card-info">
            <div id="card-name">
                <h2>{{ card_name }}</h2>
            </div>
            <h3>{{ faction }}</h3>
            <h3>{{ loyalty }} {{ card_type }}</h3>
            <h3>{{ traits }}</h3>
            <h3>{{ text }}</h3>
            {% if cost != "-1" %}
                <h3>Cost: {{ cost }}</h3>
            {% endif %}
            <p></p>
            {% if shields != "0" %}
                <h3>Shields: {{ shields }}</h3>
            {% endif %}
            {% if card_type == "Warlord" %}
                <h3>{{ attack }} attack, {{ health }} health</h3>
            {% elif is_unit == "True" %}
                <h3>{{ command }} command, {{ attack }} attack, {{ health }} health</h3>
            {% endif %}
            {% if card_type == "Warlord" %}
                <h3>When bloodied:</h3>
                <h3>{{ bloodied_text }}</h3>
                <h3>{{ bloodied_attack }} attack, {{ bloodied_health }} health</h3>
            {% endif %}
        </div>
        <div id="ban-info">
            <div id="ban-header">
                <h2>Banlist/Errata</h2>
            </div>
            <h3>{{ errata_text }}</h3>
            <h3>{{ ban_text }}</h3>
        </div>
    </div>
<script>
    const image = document.getElementById("card-image");
    const button = document.getElementById("bloodied-toggle");
    function changeBloodied() {
        if (image.src.includes("_bloodied")) {
            image.src = image.src.replace("_bloodied", "");
            button.innerHTML = "View Bloodied Side";
        } else {
            image.src = image.src.replace(".jpg", "_bloodied.jpg");
            button.innerHTML = "View Hale Side";
        }
    }
</script>
{% endblock %}
