{% extends "base.html" %}
{% block title %}Ajax with Django{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'card_search_style.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<body>
    <div class="filters-container">
        <form id="myForm">
            Card Name: <input id="searchInput" type="text" name="search"><br>
            Card Type: <select name="card-type" id="cardType">
                        <option value="None"></option>
                        <option value="Army">Army</option>
                        <option value="Support">Support</option>
                        <option value="Event">Event</option>
                        <option value="Attachment">Attachment</option>
                        <option value="Warlord">Warlord</option>
                        <option value="Synapse">Synapse</option>
                        <option value="Token">Token</option>
                    </select><br>
            Faction: <select name="faction" id="faction">
                        <option value="None"></option>
                        <option value="Space Marines">Space Marines</option>
                        <option value="Tau">Tau</option>
                        <option value="Eldar">Eldar</option>
                        <option value="Dark Eldar">Dark Eldar</option>
                        <option value="Chaos">Chaos</option>
                        <option value="Orks">Orks</option>
                        <option value="Astra Militarum">Astra Militarum</option>
                        <option value="Neutral">Neutral</option>
                        <option value="Tyranids">Tyranids</option>
                        <option value="Necrons">Necrons</option>
                    </select><br>
            Loyalty: <select name="loyalty" id="loyalty">
                        <option value="None"></option>
                        <option value="Common">Common</option>
                        <option value="Loyal">Loyal</option>
                        <option value="Signature">Signature</option>
                     </select><br>
            Traits: <input id="traitsInput" type="text" name="traits"><br>
            Shields: <select name="shields" id="shields">
                        <option value="-1"></option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select><br>
            <div class="ranges-grid">
                <p id="min-cost">Minimum Cost:</p><input id="minCost" type="text" name="minCost">
                <p id="max-cost">Maximum Cost:</p><input id="maxCost" type="text" name="maxCost">
                <p id="min-command">Minimum Command Icons:</p><input id="minCommand" type="text" name="minCommand">
                <p id="max-command">Maximum Command Icons:</p><input id="maxCommand" type="text" name="maxCommand">
                <p id="min-attack">Minimum Attack:</p><input id="minAttack" type="text" name="minAttack">
                <p id="max-attack">Maximum Attack:</p><input id="maxAttack" type="text" name="maxAttack">
                <p id="min-health">Minimum Health:</p><input id="minHealth" type="text" name="minHealth">
                <p id="max-health">Maximum Health:</p><input id="maxHealth" type="text" name="maxHealth">
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div id="cardBinder">
        <input id="prev-page" type="button" value="previous" onclick="previousPage();">
        <div id="responseMessage">
            <div class="page" id="page"></div>
        </div>
        <input id="next-page" type="button" value="next" onclick="nextPage();">
    </div>
    <script>
        var current_page_number = 0;
        var max_page_number = 0;
        var stored_image_links = [];
        var stored_image_names = [];


        function previousPage() {
            if (current_page_number !== 0) {
                current_page_number = current_page_number - 1;
                e = document.getElementById("responseMessage");
                e.innerHTML = ``;
                var img_src = "";
                var img_link = "";
                var new_string = "";
                var new_id = "";
                new_string += `<div class="page" id="page">`;
                for (let i = 0; i < stored_image_links[current_page_number].length; i++) {
                    img_link = stored_image_links[current_page_number][i];
                    new_string += `<a href=`;
                    new_string += img_link;
                    new_string += `>`;
                    img_src = stored_image_names[current_page_number][i];
                    new_string += `<img class="Card" src=` + img_src + ` alt="Loading...">`;
                    new_string += `</a>`;
                }
                new_string += `</div>`;
                e.innerHTML += new_string;
            }
        }

        function nextPage() {
            if (current_page_number !== max_page_number) {
                current_page_number = current_page_number + 1;
                e = document.getElementById("responseMessage");
                e.innerHTML = ``;
                var img_src = "";
                var img_link = "";
                var new_string = "";
                var new_id = "";
                new_string += `<div class="page" id="page">`;
                for (let i = 0; i < stored_image_links[current_page_number].length; i++) {
                    img_link = stored_image_links[current_page_number][i];
                    new_string += `<a href=`;
                    new_string += img_link;
                    new_string += `>`;
                    img_src = stored_image_names[current_page_number][i];
                    new_string += `<img class="Card" src=` + img_src + ` alt="Loading...">`;
                    new_string += `</a>`;
                }
                new_string += `</div>`;
                e.innerHTML += new_string;
            }
        }

        // Ajax setup for form submission
        $(document).ready(function() {
            $('#myForm').on('submit', function(event) {
                event.preventDefault();

                $.ajax({
                    url: '/cards/ajax/',  // The URL of the Django view that handles the request
                    type: 'POST',
                    data: {
                        'search': $('#searchInput').val(),
                        'faction': $('#faction').val(),
                        'card_type': $('#cardType').val(),
                        'loyalty': $('#loyalty').val(),
                        'traits': $('#traitsInput').val(),
                        'shields': $('#shields').val(),
                        'min-cost': $('#minCost').val(),
                        'max-cost': $('#maxCost').val(),
                        'min-command': $('#minCommand').val(),
                        'max-command': $('#maxCommand').val(),
                        'min-attack': $('#minAttack').val(),
                        'max-attack': $('#maxAttack').val(),
                        'min-health': $('#minHealth').val(),
                        'max-health': $('#maxHealth').val(),
                        'csrfmiddlewaretoken': '{{ csrf_token }}' // CSRF token for security
                    },
                    success: function(response) {
                        $('#responseMessage').text(response.message);  // Update the page dynamically
                        const message = response.message;
                        if (message === "REDIRECT") {
                            location.href = "/cards/" + response.image_names[0] + "/";
                        }
                        current_page_number = 0;
                        var cardCount = 0;
                        var pageCount = 0;
                        var card_names = response.cards;
                        const image_names = response.image_names;
                        e = document.getElementById("responseMessage");
                        e.innerHTML = ``;
                        var img_src = "";
                        var img_link = "";
                        var new_string = "";
                        var new_id = "";
                        new_string += `<div class="page" id="page">`;
                        stored_image_links = [[]];
                        stored_image_names = [[]];
                        for (let i = 0; i < image_names.length; i++) {
                            if (cardCount === 20) {
                                pageCount += 1
                                cardCount = 0;
                                stored_image_links.push([]);
                                stored_image_names.push([]);
                                // new_id = "page-" + pageCount.toString();
                                // new_string += `</div><div class="page" style="display: none;" id=` + new_id + `>`;
                            }
                            img_link = "/cards/" + image_names[i] + "/";
                            stored_image_links[pageCount].push(img_link);
                            img_src ="/static/images/CardImages/" + image_names[i] + ".jpg";
                            stored_image_names[pageCount].push(img_src);
                            if (pageCount === 0) {
                                new_string += `<a href=`
                                new_string += img_link;
                                new_string += `>`;
                                new_string += `<img class="Card" src=` + img_src + ` alt="Loading...">`;
                                new_string += `</a>`;
                            }
                            cardCount += 1;
                        }
                        max_page_number = pageCount;
                        new_string += `</div>`;
                        console.log(stored_image_links);
                        e.innerHTML += new_string;
                    }
                });
            });
        });
    </script>
{% endblock %}
