{% extends "base.html" %}
{% block title %}Ajax with Django{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'card_search_style.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<body>
    <div class="filters-container">
        <h1>Card Search Placeholder</h1>
        <form id="myForm">
            Card Name: <input id="searchInput" type="text" name="search"><br>
            Faction: <select name="faction" id="faction">
                        <option value="None"></option>
                        <option value="Space Marines">Space Marines</option>
                        <option value="Tau">Tau</option>
                        <option value="Eldar">Eldar</option>
                        <option value="Dark Eldar">Dark Eldar</option>
                        <option value="Chaos">Chaos</option>
                        <option value="Orks">Orks</option>
                        <option value="Astra Militarum">Astra Militarum</option>
                        <option value="Neutral">Neutral</option>
                        <option value="Tyranids">Tyranids</option>
                        <option value="Necrons">Necrons</option>
                    </select><br>
            Loyalty: <select name="loyalty" id="loyalty">
                        <option value="None"></option>
                        <option value="Common">Common</option>
                        <option value="Loyal">Loyal</option>
                        <option value="Signature">Signature</option>
                     </select><br>
            Traits: <input id="traitsInput" type="text" name="traits"><br>
            Shields: <select name="faction" id="shields">
                        <option value="-1"></option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="3">2</option>
                        <option value="3">3</option>
                    </select><br>
            <div class="ranges-grid">
                <p id="min-cost">Minimum Cost:</p><input id="minCost" type="text" name="minCost">
                <p id="max-cost">Maximum Cost:</p><input id="maxCost" type="text" name="maxCost">
                <p id="min-command">Minimum Command Icons:</p><input id="minCommand" type="text" name="minCommand">
                <p id="max-command">Maximum Command Icons:</p><input id="maxCommand" type="text" name="maxCommand">
                <p id="min-attack">Minimum Attack:</p><input id="minAttack" type="text" name="minAttack">
                <p id="max-attack">Maximum Attack:</p><input id="maxAttack" type="text" name="maxAttack">
                <p id="min-health">Minimum Health:</p><input id="minHealth" type="text" name="minHealth">
                <p id="max-health">Maximum Health:</p><input id="maxHealth" type="text" name="maxHealth">
            </div>
            <button type="submit">Submit</button>
        </form>
        <div id="responseMessage"></div>
    </div>
    <script>
        // Ajax setup for form submission
        $(document).ready(function() {
            $('#myForm').on('submit', function(event) {
                event.preventDefault();

                $.ajax({
                    url: '/cards/ajax/',  // The URL of the Django view that handles the request
                    type: 'POST',
                    data: {
                        'search': $('#searchInput').val(),
                        'faction': $('#faction').val(),
                        'csrfmiddlewaretoken': '{{ csrf_token }}' // CSRF token for security
                    },
                    success: function(response) {
                        $('#responseMessage').text(response.message);  // Update the page dynamically
                        const message = response.message;
                        if (message === "REDIRECT") {
                            location.href = "/cards/" + response.image_names[0] + "/";
                        }
                        var card_names = response.cards;
                        const image_names = response.image_names;
                        e = document.getElementById("responseMessage");
                        e.innerHTML = ``;
                        var img_src = "";
                        var img_link = "";
                        var new_string = "";
                        for (let i = 0; i < image_names.length; i++) {
                            new_string = `<a href=`
                            img_link = "/cards/" + image_names[i] + "/"
                            new_string += img_link;
                            new_string += `>`;
                            // new_string = `<a href=/cards/`;
                            img_link = image_names[i];
                            // new_string += img_link + `/`;
                            img_src ="/static/images/CardImages/" + image_names[i] + ".jpg";
                            new_string += `<img class="Card" src=` + img_src + ` alt="No image">`;
                            new_string += `</a>`
                            e.innerHTML += new_string;
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}
