/conquestdb/db.sqlite3
/conquestdb/cards/comments/
/conquestdb/decks/deckstorage/
/conquestdb/decks/publisheddecks/
/conquestdb/decks/comments/
/conquestdb/light_mode_dict.txt
/conquestdb/cards/ratings/
