{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block content %}
<div id="log-in-box" style="margin: auto;width: 50%;border: 3px solid green;padding: 10px;">
    {% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        <h2>Light or Dark mode.</h2>
        <select name="light" id="light">
            <option value="None" selected="selected"></option>
            <option value="Light">Light</option>
            <option value="Dark">Dark</option>
        </select>
        <button type="submit" class="black-button">Save Settings</button>
    </form>
    <h2>Upload profile picture.</h2>
    <div>Change your profile picture by uploading a file here.</div>
    <div>Please note that it could take several minutes for your profile picture to update.</div>
    <div class="profile-pic-entry">
        <form method="post" enctype="multipart/form-data" action="/simple_upload/">
        {% csrf_token %}
        <input type="file" name="file">
        <button type="submit" class="black-button">Upload</button>
        </form>
    </div>
    <p><a href="{% url 'password_change' %}">Password Change</a></p>
    <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="black-button">Log Out</button>
    </form>
    {% else %}
    <h2>You must be logged in to change your settings.</h2>
    {% endif %}
</div>
{% endblock %}