{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block content %}
<h2>Settings</h2>
<div id="log-in-box" style="margin: auto;width: 50%;border: 3px solid green;padding: 10px;">
    {% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        <h2>Light or Dark mode.</h2>
        <select name="light" id="light">
            <option value="None" selected="selected"></option>
            <option value="Light">Light</option>
            <option value="Dark">Dark</option>
        </select>
        <button type="submit" id="submit">Save Settings</button>
    </form>
    {% else %}
    <h2>You must be logged in to change your settings.</h2>
    {% endif %}
</div>
{% endblock %}