{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<h2>Sign up</h2>
<div id="sign-in-box" style="margin: auto;width: 50%;border: 3px solid green;padding: 10px;">
    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
        <div class="fieldWrapper">
            {{ form.username.errors }}
            <label for="{{ form.username.id_for_label }}">Username:</label>
            {{ form.username }}
        </div>
        <div class="fieldWrapper">
            {{ form.password1.errors }}
            <label for="{{ form.password1.id_for_label }}">Password:</label>
            {{ form.password1 }}
        </div>
        <div class="fieldWrapper">
            {{ form.password2.errors }}
            <label for="{{ form.password2.id_for_label }}">Password:</label>
            {{ form.password2 }}
        </div>
      <button type="submit" style="color:black">Sign Up</button>
    </form>
</div>
{% endblock %}