<!DOCTYPE html>
{% load static %}
<html>
<link rel="stylesheet" href="{% static 'navi_bar.css' %}">
{% if light_dark_toggle %}
  <link rel="stylesheet" href="{% static 'new_background_white.css' %}">
{% else %}
  <link rel="stylesheet" href="{% static 'new_background_black.css' %}">
{% endif %}
<link rel="shortcut icon" href="{% static 'images/favicon-v2.jpg' %}?v=4f32ecc8f43d">
<head>
  <meta charset="utf-8">
  <meta name="application-name" content="ConquestDB">
  <meta name="description" content="A fan-made website for creating and sharing decks for the Warhammer 40,000: Conquest Living Card Game.">
  <meta name="keywords" content="Conquest, Warhammer, LCG">
  <meta name="author" content="Coalback">
  <title>{% block title %}ConquestDB{% endblock %}</title>
  {% block meta %} {% endblock %}
  <link rel="shortcut icon" href="{% static 'images/favicon-v2.jpg' %}?v=4f32ecc8f43d">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
{% include 'header.html'%}
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>

<footer>
  Warhammer 40,000: Conquest is a trademark of Fantasy Flight Publishing, Inc. and/or Games Workshop Group.
  <br>
  This website is not affiliated with either Fantasy Flight Games or Games Workshop Group.
</footer>
</html>