<!DOCTYPE html>
{% load static %}
<html>
<link rel="stylesheet" href="{% static 'navi_bar.css' %}">
{% if light_dark_toggle %}
  <link rel="stylesheet" href="{% static 'background_white.css' %}">
{% else %}
  <link rel="stylesheet" href="{% static 'background_black.css' %}">
{% endif %}
<link rel="shortcut icon" href="{% static 'images/favicon.jpg' %}?v=2" />
<head>
  {% include 'header.html'%}
  <meta charset="utf-8">
  <meta name="application-name" content="ConquestDB">
  <meta name="description" content="A fan-made website for creating and sharing decks for the Warhammer 40,000: Conquest Living Card Game.">
  <meta name="keywords" content="Conquest, Warhammer, LCG">
  <meta name="author" content="Coalback">
  <title>{% block title %}Conquest{% endblock %}</title>
</head>

<body>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>

<footer>
  Warhammer 40,000: Conquest is a trademark of Fantasy Flight Publishing, Inc. and/or Games Workshop Group.
  <br>
  This website is not affiliated with either Fantasy Flight Games or Games Workshop Group.
</footer>
</html>