<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/static/images/favicon-v2.png" alt="" class="navbar-icon d-inline-block align-text-top">
      ConquestDB
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/cards/">Cards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/decks/">Decks</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            More
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/play_formats/">Play Formats</a></li>
            <li><a class="dropdown-item" href="/ban_lists/">Ban Lists</a></li>
            <li><a class="dropdown-item" href="/recent_reviews/1/">Card Comments</a></li>
            <li><a class="dropdown-item" href="/card_printout/">Print Cards</a></li>
            <li><a class="dropdown-item" href="/cards/card_creator/">Card Creator</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav">
      {% if light_dark_toggle == "Light" %}
        <li id="toggle-light-dark" class="nav-item">
          <form action="/lightdarktoggle/" method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <input type="image" src="/static/images/light_mode.png" style="width: 80px; margin-top:7px;">
          </form>
        </li>
        {% else %}
        <li id="toggle-light-dark" class="nav-item">
          <form action="/lightdarktoggle/" method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <input type="image" src="/static/images/dark_mode.png" style="width: 80px; margin-top:7px;">
          </form>
        </li>
      {% endif %}
      </ul>
      {% if user.is_authenticated %}
      <ul class="nav navbar-nav">
      <li id="loggedin-name" class="nav-item">
        <a href="/users/" class="nav-link">{{ user.username }}</a>
      </li>
      <li id="avatar" class="nav-item">
        <img id="main-avatar" class="avatar" src="/media/{{ user.username }}.jpg" onerror="this.onerror=null; this.src='/static/images/defaultprofile.jpg'">
      </li>
      <li id="log-out-cont" class="nav-item">
        <form style="padding-left:10px;" action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button id="log-out-button" type="submit">Log Out</button>
        </form>
      </li>
      </ul>
      {% else %}
      <ul class="nav navbar-nav">
        <li class="nav-item"><a href="/accounts/login/" class="nav-link">Login</a></li>
        <li class="nav-item"><a href="/accounts/signup/" class="nav-link">Sign Up</a></li>
      </ul>
      {% endif %}
  </div>
</nav>