{% extends "base.html" %}

{% block content %}
<style>
        .home-box {
            top: 80px;
            margin-left:auto;
            margin-right:auto;
            width: max(30vw, 500px);
            height: auto;
            padding: 2px;
            {% if light_dark_toggle %}
            background-color: lightblue;
            opacity:0.8;
            {% else %}
            background-color: rgba(0, 0, 139, 0.8);
            {% endif %}
            border: 2px solid blue;
            margin-bottom: 30px;
        }

        .box-scroll {
            margin-left:auto;
            margin-right:auto;
            width: max(30vw, 500px);
            height: auto;
            {% if light_dark_toggle %}
            background-color: lightblue;
            opacity:0.8;
            {% else %}
            background-color: rgba(0, 0, 139, 0.8);
            {% endif %}
            border: 2px solid blue;
            max-height: 130px;
            overflow-y: scroll;
            margin-bottom: 100px;
        }

        .greetings {
            position:absolute;
            top: 80px;
            left: 20px;
            max-width: 30vw;
        }

        h1 {
            word-wrap: break-word;
        }

        p {
            word-wrap: break-word;
        }
</style>
<div class="jumbotron-custom text-center">
  <h1 style="font-size: 63px;{% if not light_dark_toggle %} color:white {% endif %}">ConquestDB.com</h1>
  <p style="margin-bottom: 15px; font-size: 21px; font-weight: 200;">A deckbuilder and database website for the Warhammer 40,000: Conquest LCG.</p>
</div>
<div>
  <div class="home-box">
    <h1>Welcome to conquestdb.com!</h1>
    <p>This site serves as a deckbuilder for the Warhammer 40,000: Conquest Living Card Game.</p>
    <p>For information about how to play the game, please see the links below.</p>
    <p><a href="https://images-cdn.fantasyflightgames.com/ffg_content/warhammer-40k-conquest/support/Learn-to-Play-web.pdf">FFG Learn to Play</a></p>
    <p><a href="https://images-cdn.fantasyflightgames.com/ffg_content/warhammer-40k-conquest/support/Rules-Reference-web.pdf">FFG Rules Reference</a></p>
    <p>If you would rather watch a video, you can find a tutorial by The Hive Tyrant <a href="https://www.youtube.com/watch?v=NE8NL9PfjXU">here</a>.</p>
    <p>All additional rules, such as those found in expansions or introduced by Apoka Team, can be found at:</p>
    <p><a href="https://apoka.mozello.com/rules/">Apoka and Expansions rules collection</a></p>
    <p>For playing the game online, there is a Tabletop Simulator (TTS) mod, and a website found respectively at:</p>
    <p><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2471847304">TTS Mod</a></p>
    <p><a href="https://www.iridial.net">iridial.net</a></p>
    <p>This website supports exporting decks to both the TTS mod and iridial.net.</p>
    <p>The source code for this website can be found on the <a href="https://github.com/C-C-Coalback/Conquest-LCG-Deckbuilder">GitHub</a>.</p>
    <br/>
    <h1>DISCLAIMER</h1>
    <p>Warhammer 40,000: Conquest is a trademark of Fantasy Flight Publishing, Inc. and/or Games Workshop Group. </p>
    <p>This website is not affiliated with either Fantasy Flight Games or Games Workshop Group.</p>
  </div>
  <div class="box-scroll">
    <h1>Changelog</h1>
    <p>26/11/2025 Version 1.7.2 - Fix some horizontal cards being displayed incorrectly.</p>
    <p>19/11/2025 Version 1.7.1 - Card Creator Changes: Fixed Tyranid command icons. Changed font of ATK, HP and COST font to Jawbreak. Adjustments to various aspects of cards.</p>
    <p>18/11/2025 Version 1.7 - Switched to Bootstrap.js for front-end. This basically means that the site looks better. The developer would like it noted that this pains him greatly.</p>
    <p>16/11/2025 Version 1.6.2 - Card Data pages now display icons instead of text when relevant (e.g. faction or resource icon).</p>
    <p>16/11/2025 Version 1.6.1 - Linking a card in Discord now shows the image, text and name of the card.</p>
    <p>06/11/2025 Version 1.6 Beta - Added custom card creation.</p>
    <p>28/10/2025 Version 1.5 - Decks can now be imported from cardgamedb. Raw text of decks from ConquestDB can also be imported.</p>
    <p>08/10/2025 Version 1.4 - Major overhaul to the deck naming system. Decks are now uniquely identified solely by key and not name. This means that: <br>
      --- Users can now have multiple decks of the same name.<br>
      --- Users can publish their deck multiple times.<br>
      --- Renaming a deck no longer creates a second copy of that deck with the new name.<br>
      --- All symbols are now supported in deck naming.<br>
    </p>
    <p>02/10/2025 Version 1.3.7 - Some extra symbols are now supported in deck names {(, ), _, ,, ., !, '}.</p>
    <p>01/10/2025 Version 1.3.6 - All cards now use proper names, including quotations marks when relevant (except 'idden Base). Deck importing into TTS adjusted to accommodate the cards with funkier names. Monthly backups made of all current decks added.</p>
    <p>01/10/2025 Version 1.3.5 - Major internal restructuring. Subject: Ω-X62113 now uses proper name. Double quotes in card names are still not supported.</p>
    <p>28/09/2025 Version 1.3.4 - Minor mobile improvements.</p>
    <p>26/09/2025 Version 1.3.3 - Added a page showing all the comments on all cards, from most recent to earliest.</p>
    <p>26/09/2025 Version 1.3.2 - The deck creation page now loads a more mobile-friendly layout if the user is on a mobile device.</p>
    <p>25/09/2025 Version 1.3.1 - Added "more" tab to navigation bar. Added page with the ban list and the errata list, and another with (some) play formats.</p>
    <p>24/09/2025 Version 1.3 - User profiles can now be viewed.
      User profile pages show information such as recent decks and faction distributions.
      Your own profile shows information that considers your private decks.
      Other users' profiles only show information that considers their public decks.
      Your profile pages can be accessed by clicking on your username at the top right.
      Other users pages can be accessed by clicking on their username wherever it appears.
    </p>
    <p>21/09/2025 Version 1.2 - Major overhaul to the appearance of the site.</p>
    <p>21/09/2025 Version 1.1.6 - Improved the card search page appearance on mobile devices. Moved the next page and previous page buttons outside the card results area.</p>
    <p>16/09/2025 Version 1.1.5 - Fixed some incorrect traits. Trait autocomplete added.</p>
    <p>15/09/2025 Version 1.1.4 - Hovering over an icon on the create deck page now explains what the icon means.</p>
    <p>14/09/2025 Version 1.1.3 - Search function changed so that if the user only enters lowercase values then the case of the searched cards are ignored.</p>
    <p>13/09/2025 Version 1.1.2 - Added keyword and specialization filters to the card search page. Sector filter moved to own area.</p>
    <p>11/09/2025 Version 1.1.1 - Adjusted appearance of deck search page.</p>
    <p>10/09/2025 Version 1.1.0 - Added a deck search page, for published decks only. Users can filter by deck name, creator, warlord and faction.</p>
    <p>10/09/2025 Version 1.0.5 - Added a "my liked decks" page, which only shows the published decks that you have liked.</p>
    <p>10/09/2025 Version 1.0.4 - Added a "my published decks" page, which only shows the decks that you have published. Minor graphical improvements.</p>
    <p>04/09/2025 Version 1.0.3c - Fixed Reveal The Blade being misnamed as Reveal the Blade.</p>
    <p>02/09/2025 Version 1.0.3b - Fixed Yvraine showing wrong image.</p>
    <p>22/08/2025 Version 1.0.3a hotfix - Fixed not being able to toggle between bloodied and errata sides of card images. Brotherhood Justicar images swapped round.</p>
    <p>21/08/2025 Version 1.0.3d - Minor graphical improvements. Fixed Call The Storm being misnamed as Call the Storm.</p>
    <p>19/08/2025 Version 1.0.3c - Can now search by a keyword or specialization in the deck creation filter.</p>
    <p>19/08/2025 Version 1.0.3b - Minor graphical improvements.</p>
    <p>18/08/2025 Version 1.0.3a hotfix - Warlords with apostrophes in their names were not handled correctly when using the new warlord selector.</p>
    <p>18/08/2025 Version 1.0.3a - Various graphical improvements.</p>
    <p>16/08/2025 Version 1.0.3 - Added a dedicated page for users to select their warlord before moving them to the full deck creation page.</p>
    <p>13/08/2025 Version 1.0.2g - Minor adjustments to how the deck data page looks.</p>
    <p>11/08/2025 Version 1.0.2f - Players can now rate cards.</p>
    <p>10/08/2025 Version 1.0.2e - Added functionality for discord previews.</p>
    <p>09/08/2025 Version 1.0.2d - Added a "like" system to decks.</p>
    <p>07/08/2025 Version 1.0.2c - Signature Squad is now shown on the page of a warlord.</p>
    <p>07/08/2025 Version 1.0.2b - Fixed Kwik' Konstruckshun errata version not appearing.</p>
    <p>06/08/2025 Version 1.0.2a - Added new card type selection buttons during deck creation.</p>
    <p>06/08/2025 Version 1.0.2 - Improved (hopefully) how the deck creation page appears on mobile devices.
      Fixed the description of the deck not being carried over when modifying a deck. Theater of War made loyal.</p>
    <p>05/08/2025 Version 1.0.1c - Enginseer Augur is now loyal.</p>
    <p>04/08/2025 Version 1.0.1b - Fixed feedback message sometimes going off-screen. Added button to lock the deck area. Added hints to what is allowed for deck names.</p>
    <p>04/08/2025 Version 1.0.1a hotfix - Fixed a problem involved with saving decks while not logged in that could corrupt the decks of another user whose username matched the name of the saved deck.</p>
    <p>04/08/2025 Version 1.0.1a - Adjusted the filtering results while a Tyranids or Necrons warlord is selected.</p>
    <p>03/08/2025 Version 1.0.1 - Show number of matches and the page/card count on card lookup page.
      Added cost distribution graph to advanced deck details page.
      Changed cost of Calamity from 1 to 2. Updated TTS mod to correctly set imported pledges as horizontal cards.
      Converted "My Decks" and "Published Decks" into multiple pages of decks each instead of one big page.
      Deck keys are now shown on these pages as well.</p>
    <p>02/08/2025 Version 1.0.0a - Add spacing between - button and card name. Changed various text colours to always be black.</p>
    <p>01/08/2025 Version 1.0.0 - Website launched.</p>
  </div>
</div>
{% endblock %}