{% extends "base.html" %}

{% block content %}
<style>
        .home-box {
            top: 80px;
            margin-left:auto;
            margin-right:auto;
            width: 30vw;
            height: auto;
            padding: 2px;
            {% if light_dark_toggle %}
            background-color: lightblue;
            opacity:0.8;
            {% else %}
            background-color: rgba(0, 0, 139, 0.8);
            {% endif %}
            border: 2px solid blue;
            margin-bottom: 100px;
        }

        .box-scroll {
            margin-left:auto;
            margin-right:auto;
            width: 30vw;
            height: auto;
            {% if light_dark_toggle %}
            background-color: lightblue;
            opacity:0.8;
            {% else %}
            background-color: rgba(0, 0, 139, 0.8);
            {% endif %}
            border: 2px solid blue;
            max-height: 100px;
            overflow-y: scroll;
            margin-bottom: 30px;
        }

        .greetings {
            position:absolute;
            top: 80px;
            left: 20px;
            max-width: 30vw;
        }
</style>
<div class="box-scroll">
  <h1>Changelog</h1>
  <p>01/08/2025 Version 1.0.0 - Website launched</p>
  <p>02/08/2025 Version 1.0.0a - Add spacing between - button and card name. Changed various text colours to always be black.</p>
</div>
<div class="home-box">
  <h1>Welcome to conquestdb.com!</h1>
  <p>This site serves as a deckbuilder for the Warhammer 40,000: Conquest Living Card Game.</p>
  <p>For information about how to play the game, please see the links below.</p>
  <p><a href="https://images-cdn.fantasyflightgames.com/ffg_content/warhammer-40k-conquest/support/Learn-to-Play-web.pdf">FFG Learn to Play</a></p>
  <p><a href="https://images-cdn.fantasyflightgames.com/ffg_content/warhammer-40k-conquest/support/Rules-Reference-web.pdf">FFG Rules Reference</a></p>
  <p>If you would rather watch a video, you can find a tutorial by The Hive Tyrant <a href="https://www.youtube.com/watch?v=NE8NL9PfjXU">here</a>.</p>
  <p>All additional rules, such as those found in expansions or introduced by Apoka Team, can be found at:</p>
  <p><a href="https://apoka.mozello.com/rules/">Apoka and Expansions rules collection</a></p>
  <p>For playing the game online, there is a Tabletop Simulator (TTS) mod, and a website found respectively at:</p>
  <p><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2471847304">TTS Mod</a></p>
  <p><a href="https://www.iridial.net">iridial.net</a></p>
  <p>This website supports exporting decks to both the TTS mod and iridial.net.</p>
  <p>The source code for this website can be found on the <a href="https://github.com/C-C-Coalback/Conquest-LCG-Deckbuilder">GitHub</a>.</p>
  <br/>
  <h1>DISCLAIMER</h1>
  <p>Warhammer 40,000: Conquest is a trademark of Fantasy Flight Publishing, Inc. and/or Games Workshop Group. </p>
  <p>This website is not affiliated with either Fantasy Flight Games or Games Workshop Group.</p>
</div>
{% if user.is_authenticated %}
<div class="greetings">
  <p>Hi {{ user.username }}!</p>
</div>
{% else %}
<div class="greetings">
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
</div>
{% endif %}
{% endblock %}