.Card {
    position: relative;
    height:8vh;
    width:5vw;
}

.Card-saved-box {
    position: relative;
    width: 50px;
    height: 70px;
}

.no-break {
    display: inline;
}

.db-image {
    width: 90px;
    height: 125px;
}

.auto-deck-build {
    background: rgba(47, 40, 153, 0.3);
    width: 690px;
    height: 525px;
    border: 5px solid green;
    display: grid;
    grid-template-columns: 90px 90px 50px 40px 70px 120px 230px;
    grid-template-rows: 125px 200px 200px;
    grid-template-areas:
    "warlord-card synapse-card pledge-card pledge-card details details details"
    "signature-squad-cards signature-squad-cards signature-squad-cards army-cards army-cards army-cards army-cards"
    "event-cards event-cards event-cards attachment-cards attachment-cards attachment-cards support-cards";
}

.auto-deck-build > #details {
    background: rgba(47, 40, 153, 0.3);
    border: 1px solid black;
    text-align: center;
}

.auto-deck-build > .db-section {
    background: rgba(47, 40, 153, 0.3);
    border: 1px solid black;
    text-align: left;
    overflow-y:auto;
}

#warlord-card {
    grid-area: warlord-card;
}

#synapse-card {
    grid-area: synapse-card;
}

#pledge-card {
    grid-area: pledge-card;
}

#details {
    grid-area: details;
}

#signature-squad-cards {
    grid-area: signature-squad-cards;
}

#army-cards {
    grid-area: army-cards;
}

#event-cards {
    grid-area: event-cards;
}

#support-cards {
    grid-area: support-cards;
}

#attachment-cards {
    grid-area: attachment-cards;
}

#manual-deck-import {
    display: none;
}

#deck-container {
    position: fixed;
    left: 100px;
    top: 100px;
}

#buttons-container {
    white-space: nowrap;
}

#cursor-follower {
    position:absolute;
    width: 300px;
    height: 420px;
    display:none;
}

.mini-card-name, .mini-card-faction {
    width: 200px;
}

.mini-card-type, .mini-card-loyalty {
    text-align: center;
    vertical-align: middle;
    width: 100px;
}

.mini-card-cost, .mini-card-attack, .mini-card-health, .mini-card-command, .mini-card-shield {
    text-align: center;
    vertical-align: middle;
    width: 50px
}

#description-container {
    position: absolute;
    left: 900px;
    top: 100px;
}

#card-filter-results {
    border: 2px solid blue;
}

.searched-card, .searched-card-headers {
    position: relative;
    margin-top: 10px;
    border: 1px solid gray;
    left: 0;
    width:100%;
    overflow-x: auto;
    display: flex;
    justify-content: center;
}

#mini-card-search-container {
    position: absolute;
    cursor: pointer;
    left: 900px;
    top: 500px;
    padding-bottom: 150px;
}

.box {
    width: 40vw;
    height: 300px;
    background-color: lightblue;
    border: 2px solid blue;
    padding: 10px;
    margin: 10px;
    overflow-y: scroll;
}

#clear-filter {
    position: relative;
    left: 200px;
    border: none;
    background-color: red;
    color: white;
    padding: 15px 32px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#card-counts-pages {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.ally-area > * {
    display:inline-block;
}

.card-count-div > * {
    display:inline-block;
    margin-right:10px;
}

#card-submit, #deck-submit-1 {
    border: none;
    background-color: blue;
    color: white;
    padding: 15px 32px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#send-filter {
    position: relative;
    left: 200px;
    border: none;
    background-color: green;
    color: white;
    padding: 15px 32px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#filters-container {
    width: 600px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "p-card-name search p-card-type card-type"
    "p-faction faction p-loyalty loyalty"
    "p-min-cost min-cost p-max-cost max-cost"
    "p-shields shields p-traits traits";
}

#prev-page {
    position:relative;
    left:0;
    top:0;
    height: 50px;
    width: 200px;
}

#next-page {
    position:relative;
    right:0;
    top:0;
    height: 50px;
    width: 200px;
    margin-left: 200px;
}

.saved-deck-box {
    width: 200px;
    height: 70px;
    background-color: lightblue;
    border: 2px solid blue;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

#existing-decks {
    position: absolute;
    left:max(600px, calc(100vw - 280px));
    width:260px;
    top:75px;
    overflow-y: scroll;
    max-height: 80vh;
}