#main-deck-info {
    position: relative;
    margin-top: 50px;
    left: 0;
    overflow-x: auto;
    display: flex;
    justify-content: center;
}

#deck-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#factions-box {
    width:100%;
    display: flex;
    justify-content: center;
    border: none;
}

#description-area {
    position: relative;
    margin-top: 50px;
    left: 0;
    display: flex;
    justify-content: center;
    max-width: 100%;
}

#desc-text {
    background: #f9f9f9;
    border: 1px solid #000000;
    padding: 20px;
}

.comment-class {
    padding: 40px;
    background: #f9f9f9;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #dfdfdf;
}

.comment-avatar {
    width: 40px;
    height: 40px;
}

.delete-comment {
    margin-left: 210px !important;
}

.comment-content {
    margin-left: 210px !important;
    max-width: 70%;
    min-height: 33px;
    line-height: 1.5;
}

.comment-name {
    text-align: right;
    padding: 0 10px;
    float: left;
    line-height: 1.3;
}

#card-reviews {
    width:100%;
    border: 0.05em solid green;
    margin:auto;
}

#desc-id {
    margin:auto;
    max-width: min(1100px, 100%);
}

#publish {
    background-color: #04AA6D;
}

#delete, #retract {
    background-color: #f44336;
}

#modify, #copy, #download, #advanced {
    background-color: #008CBA;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#large-grid {
    width: 1400px;
    height: 1010px;
    display: grid;
    grid-row-gap: 1px;
    grid-template-columns: 200px 300px 900px;
    grid-template-rows: 333px 333px 333px;
    grid-template-areas:
    "synapse warlord deck-grid"
    "pledge pledge deck-grid"
    "none none deck-grid";
}

a:link {
      text-decoration: none;
}

a:visited {
      text-decoration: none;
}

a:hover {
      text-decoration: none;
}

a:active {
      text-decoration: none;
}

#deck-grid {
    grid-area: deck-grid;
    width: 800px;
    height: 1000px;
    border: 5px solid green;
    background: #808080;
    display: grid;
    grid-row-gap: 1px;
    grid-template-columns: 400px auto;
    grid-template-rows: 333px 333px auto;
    grid-template-areas:
    "sig_cards support_cards"
    "army_cards attachment_cards"
    "army_cards event_cards";
}

#cursor-follower {
    position:absolute;
    width: 15.65vw;
    height: 21.91vw;
    display:none;
}

#warlord-image, #synapse-image {
    height:280px;
    width:200px;
}

#pledge-image {
    position: relative;
    left: 90px;
    rotate: 270deg;
    height:322px;
    width:230px;
}

#cursor-follower {
    position: absolute;
    display: none;
}

.grid-section {
    overflow-y: auto;
    max-height: 330px;
    border: 1px black dashed;
}

.non-max-grid-section {
    overflow-y: auto;
    max-height: 330px;
}

.grid-army-section {
    overflow-y: auto;
    max-height: 1000px;
}

.large-grid-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#author-desc-text {
    text-align: center;
}

#pledge-image-container {
    position: relative;
    left: 40px;
}

.large-grid-section-pledge {

}

#warlord {
    grid-area: warlord;
}

#synapse {
    grid-area: synapse;
}

#sig_cards {
    grid-area: sig_cards;
}

#army_cards {
    grid-area: army_cards;
}

#support_cards {
    grid-area: support_cards;
}

#event_cards {
    grid-area: event_cards;
}

#attachment_cards {
    grid-area:attachment_cards;
}

.comment-content > p {
    color: black !important;
}

#desc-text > p {
    color: black !important;
}

#liked, #not-liked {
    cursor: pointer;
}

#like-count {
    font-size: 50px;
    position: relative;
    margin-top:0px;
    padding-left:20px;
}

#like-area {
    display: flex;
    justify-content: center;
}

.comment-name > p {
    color: black !important;
}