#main-container {
    position: relative;
    left: 0;
    width:100%;
}

.buttons-container {
    position: relative;
    left: 0;
    width:100%;
    overflow-x: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: min(300px, 30vw) min(300px, 30vw) min(300px, 30vw);
    grid-template-areas:
    "my-decks-header published-decks-header deck-creation-header"
    "my-decks published-decks create-deck"
    "my-published-decks my-liked-decks blank-1"
    "blank-2 search-decks import-deck"
}

#blank-1 {
    grid-area: blank-1;
    display: none;
}

#blank-2 {
    grid-area: blank-2;
    display: none;
}

#deck-creation-header {
    text-align: center;
    grid-area: deck-creation-header;
}

#published-decks-header {
    text-align: center;
    grid-area: published-decks-header;
}

#my-decks-header {
    text-align: center;
    grid-area: my-decks-header;
}

#import-deck {
    grid-area: import-deck;
}

#search-decks {
    grid-area: search-decks;
}

#my-decks {
    grid-area: my-decks;
}

#published-decks {
    grid-area: published-decks;
}

#my-published-decks {
    grid-area: my-published-decks;
}

#my-liked-decks {
    grid-area: my-liked-decks;
}

#create-deck {
    grid-area: create-deck;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    width: 270px;
    min-height: 70px;
}

#featured-container {
    position: relative;
    left: 0;
    width:100%;
    overflow-x: auto;
    display: flex;
    justify-content: center;
}

.button {
    background-color: #808080;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.preview-image {
    width: 120px;
    height: 168px;
}

.deck-item-grid {
    width: auto;
    height: auto;
    border: 5px solid green;
    display: grid;
    grid-template-columns: 280px 120px;
    grid-template-areas:
    "deck-name warlord-card"
    "creator-name warlord-card"
    "warlord-name warlord-card"
    "date warlord-card";
}

.decklist-name {
    grid-area: deck-name;
}

.creator-name {
    grid-area: creator-name;
}

.warlord-name {
    grid-area: warlord-name;
}

.date {
    grid-area: date;
}

.preview-image {
    grid-area: warlord-card;
}

a:link {
      text-decoration: none;
}

a:visited {
      text-decoration: none;
}

a:hover {
      text-decoration: none;
}

a:active {
      text-decoration: none;
}