#main-container {
    width:100%;
    border: 0.05em solid red;
    display:flex;
    justify-content:center;
    gap: 20px;
}

#card-name {
    background-color: lightgrey;
}

#ban-header {
    background-color: lightgrey;
}

#card-image {
    border: 0.05em dashed blue;
    height:500px;
    width:360px;
}

#card-info {
    max-width:300px;
    background: rgba(47, 40, 153, 0.3);
    border: 0.15em dashed lightblue;
    overflow-y:auto;
}

#ban-info {
    max-width:300px;
    background: rgba(47, 40, 153, 0.3);
    border: 0.15em dashed lightblue
}