{% extends "base.html" %}
{% block title %}Deck Data{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'createdeck.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<datalist id="card_list">
    {% for card_name in auto_complete %}
        <option value="{{ card_name }}"></option>
    {% endfor %}
</datalist>
<div id="deck-container">
    <div class="auto-deck-build">
        <div id="warlord-card" class="poster-card"><img id="Nazdreg" src="/static/images/CardImages/Cardback.jpg" class="db-image"></div>
        <div id="synapse-card" class="poster-card"><img id="Cardback" src="/static/images/CardImages/Cardback.jpg" class="db-image"></div>
        <div id="pledge-card" class="poster-card"><img id="Cardback_Two" src="/static/images/CardImages/Cardback.jpg" class="db-image"></div>
        <div id="details">Details<br>
            <label for="name-deck">Name:</label>
            <input id="name-deck" type="search" size="28"><br>
            <label for="ally">Ally:</label>
            <select name="ally" id="ally" onChange="notCheckedAlly();">
                <option value=""></option>
                <option value="Space Marines">Space Marines</option>
                <option value="Tau">Tau</option>
                <option value="Eldar">Eldar</option>
                <option value="Dark Eldar">Dark Eldar</option>
                <option value="Chaos">Chaos</option>
                <option value="Orks">Orks</option>
                <option value="Astra Militarum">Astra Militarum</option>
            </select>
            <p id="ok-ally">Ally OK</p>
        </div>
        <div id="signature-squad-cards" class="db-section">Signature Squad

        </div>
        <div id="army-cards" class="db-section">Army Units</div>
        <div id="event-cards" class="db-section">Events</div>
        <div id="attachment-cards" class="db-section">Attachments</div>
        <div id="support-cards" class="db-section">Supports</div>
    </div>
    <div id="manual-deck-import">
    <textarea id="chat-log" cols="100" rows="10"></textarea><br>
    </div>
    <input id="card-input" type="search" list="card_list" size="60"><br>
    <input id="card-submit" type="button" value="Add Card">
    <input id="deck-submit-1" type="button" value="Save Deck" onclick="sendDeckAuto();">
    <input id="username" name="username" value="{{ user.username }}" style="display:none;">
    <div id="responseMessage">
        <p></p>
    </div>
</div>
<div id="description-container">
    <h2>Add a description for your deck here</h2>
    <textarea id="descriptionInput" name="description" rows="20" cols="80"></textarea><br>
</div>
<div id="mini-card-search-container">
    <h2>Card Filter</h2>
    <button id="clear-filter" onclick="clearFilters();">Reset Filters</button>
    <form id="myForm">
        <div id="filters-container">
            <p id="p-card-name">Card Name:</p><input id="searchInput" type="text" name="search">
            <p id="p-card-type">Card Type:</p><select name="card-type" id="cardType">
                <option value="None"></option>
                <option value="Army">Army</option>
                <option value="Support">Support</option>
                <option value="Event">Event</option>
                <option value="Attachment">Attachment</option>
                <option value="Warlord">Warlord</option>
                <option value="Synapse">Synapse</option>
            </select>
                <p id="p-faction">Faction:</p><select name="faction" id="faction">
                <option value="None"></option>
                <option value="Space Marines">Space Marines</option>
                <option value="Tau">Tau</option>
                <option value="Eldar">Eldar</option>
                <option value="Dark Eldar">Dark Eldar</option>
                <option value="Chaos">Chaos</option>
                <option value="Orks">Orks</option>
                <option value="Astra Militarum">Astra Militarum</option>
                <option value="Neutral">Neutral</option>
                <option value="Tyranids">Tyranids</option>
                <option value="Necrons">Necrons</option>
            </select>
                <p id="p-loyalty">Loyalty:</p><select name="loyalty" id="loyalty">
                <option value="None"></option>
                <option value="Common">Common</option>
                <option value="Loyal">Loyal</option>
                <option value="Signature">Signature</option>
             </select>
        </div>
        <button id="send-filter">Perform Search</button>
    </form>
    <div id="buttons-container">
        <input id="prev-page" type="button" value="Previous Page" onclick="previousPage();">
        <input id="next-page" type="button" value="Next Page" onclick="nextPage();">
    </div>
    <div id="card-filter-results">
        <div class="searched-card-headers">
            <div class="mini-card-name">
                Card Name
            </div>
            <div class="mini-card-type">
                Card Type
            </div>
            <div class="mini-card-cost">
                Cost
            </div>
            <div class="mini-card-attack">
                ATK
            </div>
            <div class="mini-card-health">
                HP
            </div>
            <div class="mini-card-command">
                CMD
            </div>
            <div class="mini-card-shields">
                SHLD
            </div>
        </div>
    </div>
    <div id="card-counts-pages">
        <p>Showing 0-0 of 0 matches</p>
    </div>
</div>
<img id="cursor-follower" src="/static/images/CardImages/Cardback.jpg">
<script>

    var current_page_number = 0;
    var max_page_number = 0;
    var stored_image_links = [];
    var stored_image_names = [];
    var stored_card_names = [];
    var stored_card_types = [];
    var stored_card_loyalties = [];
    var stored_card_factions = [];
    var stored_card_attacks = [];
    var stored_card_healths = [];
    var stored_card_costs = [];
    var stored_card_commands = [];
    var stored_card_shields = [];
    var num_matches = 0;
    var current_low_match = 0;
    var current_high_match = 0;

    var mouse_x = 0;
    var mouse_y = 0;
    onmousemove = function(e){
        mouse_x = e.clientX;
        mouse_y = e.clientY * (0.5) + 320 + window.scrollY;
    }

    function clearFilters() {
        var searchInput = document.getElementById("searchInput");
        searchInput.value = "";
        var searchInput = document.getElementById("loyalty");
        searchInput.value = "None";
        var searchInput = document.getElementById("faction");
        searchInput.value = "None";
        var searchInput = document.getElementById("cardType");
        searchInput.value = "None";
    }

    function previousPage() {
        if (current_page_number !== 0) {
            current_page_number = current_page_number - 1;
            current_low_match = current_low_match - 20;
            current_high_match = (current_page_number + 1) * 20;
            page_counter = document.getElementById("card-counts-pages");
            page_counter.innerHTML = `<p>Showing ` + current_low_match + `-` + current_high_match + ` of ` + num_matches + ` matches</p>`;
            e = document.getElementById("card-filter-results");
            e.innerHTML = ``;
            var img_src = "";
            var new_string = "";
            var new_id = "";
            var new_card_name = "";
            var new_card_type = "";
            var new_loyalty = "";
            var new_faction = "";
            var new_cost = "";
            var new_attack = "";
            var new_health = "";
            var new_command = "";
            var new_shield = "";
            new_string += `
            <div class="searched-card-headers">
                <div class="mini-card-name">
                    Card Name
                </div>
                <div class="mini-card-type">
                    Card Type
                </div>
                <div class="mini-card-cost">
                    Cost
                </div>
                <div class="mini-card-attack">
                    ATK
                </div>
                <div class="mini-card-health">
                    HP
                </div>
                <div class="mini-card-command">
                    CMD
                </div>
                <div class="mini-card-shields">
                    SHLD
                </div>
            </div>`
            for (let i = 0; i < stored_image_links[current_page_number].length; i++) {
                img_src = stored_image_names[current_page_number][i];
                new_card_name = stored_card_names[current_page_number][i];
                new_card_type = stored_card_types[current_page_number][i];
                new_loyalty = stored_card_loyalties[current_page_number][i];
                new_faction = stored_card_factions[current_page_number][i];
                new_cost = stored_card_costs[current_page_number][i];
                new_attack = stored_card_attacks[current_page_number][i];
                new_health = stored_card_healths[current_page_number][i];
                new_command = stored_card_commands[current_page_number][i];
                new_shield = stored_card_shields[current_page_number][i];
                new_string += `<div class="searched-card" onclick="quickAddCard(this)" onmouseenter="showImg(this)" onmouseleave="clearImg()" data-src=` + img_src + ` data-name=` + new_card_name.split(' ').join('_') + `>`
                new_string += `<div class="mini-card-name">` + new_card_name + `</div>`
                new_string += `<div class="mini-card-type">` + new_card_type + `</div>`
                new_string += `<div class="mini-card-cost">` + new_cost + `</div>`
                new_string += `<div class="mini-card-attack">` + new_attack + `</div>`
                new_string += `<div class="mini-card-health">` + new_health + `</div>`
                new_string += `<div class="mini-card-command">` + new_command + `</div>`
                new_string += `<div class="mini-card-shield">` + new_shield + `</div>`
                new_string += `</div>`;
            }
            e.innerHTML += new_string;
        }
    }

    function nextPage() {
        if (current_page_number !== max_page_number) {
            current_page_number = current_page_number + 1;
            e = document.getElementById("card-filter-results");
            e.innerHTML = ``;
            current_low_match = current_low_match + 20;
            current_high_match = (current_page_number + 1) * 20;
            if (current_high_match > num_matches) {
                current_high_match = num_matches;
            }
            page_counter = document.getElementById("card-counts-pages");
            page_counter.innerHTML = `<p>Showing ` + current_low_match + `-` + current_high_match + ` of ` + num_matches + ` matches</p>`;
            var img_src = "";
            var new_string = "";
            var new_id = "";
            var new_card_name = "";
            var new_card_type = "";
            var new_loyalty = "";
            var new_faction = "";
            var new_cost = "";
            var new_attack = "";
            var new_health = "";
            var new_command = "";
            var new_shield = "";
            new_string += `
            <div class="searched-card-headers">
                <div class="mini-card-name">
                    Card Name
                </div>
                <div class="mini-card-type">
                    Card Type
                </div>
                <div class="mini-card-cost">
                    Cost
                </div>
                <div class="mini-card-attack">
                    ATK
                </div>
                <div class="mini-card-health">
                    HP
                </div>
                <div class="mini-card-command">
                    CMD
                </div>
                <div class="mini-card-shields">
                    SHLD
                </div>
            </div>`
            for (let i = 0; i < stored_image_links[current_page_number].length; i++) {
                console.log(current_page_number);
                console.log(stored_card_names);
                img_src = stored_image_names[current_page_number][i];
                new_card_name = stored_card_names[current_page_number][i];
                new_card_type = stored_card_types[current_page_number][i];
                new_loyalty = stored_card_loyalties[current_page_number][i];
                new_faction = stored_card_factions[current_page_number][i];
                new_cost = stored_card_costs[current_page_number][i];
                new_attack = stored_card_attacks[current_page_number][i];
                new_health = stored_card_healths[current_page_number][i];
                new_command = stored_card_commands[current_page_number][i];
                new_shield = stored_card_shields[current_page_number][i];
                new_string += `<div class="searched-card" onclick="quickAddCard(this)" onmouseenter="showImg(this)" onmouseleave="clearImg()" data-src=` + img_src + ` data-name=` + new_card_name.split(' ').join('_') + `>`
                new_string += `<div class="mini-card-name">` + new_card_name + `</div>`
                new_string += `<div class="mini-card-type">` + new_card_type + `</div>`
                new_string += `<div class="mini-card-cost">` + new_cost + `</div>`
                new_string += `<div class="mini-card-attack">` + new_attack + `</div>`
                new_string += `<div class="mini-card-health">` + new_health + `</div>`
                new_string += `<div class="mini-card-command">` + new_command + `</div>`
                new_string += `<div class="mini-card-shield">` + new_shield + `</div>`
                new_string += `</div>`;
            }
            e.innerHTML += new_string;
        }
    }

    function showImg(el) {
        var new_src = el.getAttribute('data-src');
        cursor_img = document.getElementById("cursor-follower");
        cursor_img.style.left = mouse_x + 30 + "px";
        cursor_img.style.top = mouse_y - 300 + "px";
        cursor_img.src = new_src;
        cursor_img.style.display = "block";
    }

    function clearImg() {
        cursor_img = document.getElementById("cursor-follower");
        cursor_img.src = "/static/images/CardImages/Cardback.jpg";
        cursor_img.style.display = "none";
    }

    var data = "{{ data }}";
    var name_warlord = "";
    var force_send = "F";
    if (data !== "") {
        force_send = "T";
        data = data.replace(new RegExp("&"+"#"+"x27;", "g"), "'");
        var deck_data = data.split("|||");
        var pledge_card = "";
        if (deck_data[4] !== "") {
            pledge_card = deck_data[4];
        }
        deck_data = deck_data.filter(function(a){return a !== "----------------------------------------------------------------------"});
        deck_data = deck_data.filter(function(a){return a !== "Planet"});
        deck_data = deck_data.filter(function(a){return a !== ""});
        console.log(deck_data);
        const name = deck_data[0];
        name_warlord = deck_data[1];
        var factions = deck_data[2];
        var split_factions = factions.split(" (");
        if (split_factions.length === 2) {
            const ally = split_factions[1].replace(")", "");
            console.log(ally);
            document.getElementById('ally').value = ally;
        }
        route = "/static/images/CardImages/" + name_warlord.split(' ').join('_') + ".jpg";
        document.getElementById('warlord-card').innerHTML = `<img id=` + name_warlord.split(' ').join('_') + ` src=` + route + ` class="db-image" onmouseenter="showImg(this)" onmouseleave="clearImg()" data-src=` + route + `>`;
        document.getElementById('name-deck').value = name;
        var sig_pos = -1;
        var army_pos = -1;
        var support_pos = -1;
        var synapse_pos = -1;
        var attachment_pos = -1;
        var event_pos = -1;
        for (let i = 0; i < deck_data.length; i++) {
            if (deck_data[i] === "Signature Squad") {
                sig_pos = i;
            }
            if (deck_data[i] === "Army") {
                army_pos = i;
            }
            if (deck_data[i] === "Support") {
                support_pos = i;
            }
            if (deck_data[i] === "Synapse") {
                synapse_pos = i;
            }
            if (deck_data[i] === "Attachment") {
                attachment_pos = i;
            }
            if (deck_data[i] === "Event") {
                event_pos = i;
            }
        }
        var sig_cards = deck_data.slice(sig_pos+1, army_pos);
        var army_cards = deck_data.slice(army_pos+1, support_pos);
        var support_cards = deck_data.slice(support_pos+1, synapse_pos);
        var synapse_cards = deck_data.slice(synapse_pos+1, attachment_pos);
        var attachment_cards = deck_data.slice(attachment_pos+1, event_pos);
        var event_cards = deck_data.slice(event_pos+1, deck_data.length);
        addSigSquad(sig_cards);
        for (let i = 0; i < army_cards.length; i++) {
            var card_name = army_cards[i].slice(3);
            var card_amount = parseInt(army_cards[i].charAt(0));
            for (let j = 0; j < card_amount; j++) {
                addCard("Army", card_name);
            }
        }
        for (let i = 0; i < support_cards.length; i++) {
            var card_name = support_cards[i].slice(3);
            var card_amount = parseInt(support_cards[i].charAt(0));
            for (let j = 0; j < card_amount; j++) {
                addCard("Support", card_name);
            }
        }
        for (let i = 0; i < attachment_cards.length; i++) {
            var card_name = attachment_cards[i].slice(3);
            var card_amount = parseInt(attachment_cards[i].charAt(0));
            for (let j = 0; j < card_amount; j++) {
                addCard("Attachment", card_name);
            }
        }
        for (let i = 0; i < event_cards.length; i++) {
            var card_name = event_cards[i].slice(3);
            var card_amount = parseInt(event_cards[i].charAt(0));
            for (let j = 0; j < card_amount; j++) {
                addCard("Event", card_name);
            }
        }
        if (synapse_cards.length === 1) {
            var synapseName = synapse_cards[0].slice(3).split(' ').join('_');
            route = "/static/images/CardImages/" + synapseName + ".jpg";
            document.getElementById('synapse-card').innerHTML = `<img id=` + synapseName + ` src=` + route + ` class="db-image" onmouseenter="showImg(this)" onmouseleave="clearImg()" data-src=` + route + `>`
        }
        if (pledge_card !== "" && pledge_card !== "----------------------------------------------------------------------") {
            pledge_card = pledge_card.split(' ').join('_');
            route = "/static/images/CardImages/" + pledge_card + ".jpg";
            document.getElementById('pledge-card').innerHTML = `<img id=` + pledge_card + ` src=` + route + ` class="db-image" onmouseenter="showImg(this)" onmouseleave="clearImg()" data-src=` + route + `>`
        }
    }

    document.querySelector('#card-input').focus();
    document.querySelector('#card-input').onkeyup = function(e) {
        if (e.key === 'Enter') {  // enter, return
            document.querySelector('#card-submit').click();
        }
    };

    function quickAddCard(el) {
        const cardName = el.getAttribute('data-name').split('_').join(' ');
        document.querySelector('#card-input').value = cardName;
        document.querySelector('#card-submit').click();
    }
    function decreaseCount(id) {
        var idName = id.slice(0,-9)
        var countName = idName + "-Count";
        var e = document.getElementById(countName);
        if (typeof(e) != 'undefined' && e != null) {
            var str = e.innerHTML;
            if (str !== "1") {
                str = decrementString(str);
                e.innerHTML = str;
            } else {
                var holderName = idName + "-Holder";
                var x = document.getElementById(holderName);
                x.remove();
            }
        }
    }

    function selectElement(id, valueToSelect) {
        let element = document.getElementById(id);
        element.value = valueToSelect;
    }

    function incrementCount(id) {
        var idName = id.slice(0,-9)
        var countName = idName + "-Count";
        var e = document.getElementById(countName);
        if (typeof(e) != 'undefined' && e != null) {
            var str = e.innerHTML;
            if (str !== "3") {
                str = incrementString(str);
                e.innerHTML = str;
            }
        }
    }

    function setInitialDeck() {
        document.querySelector('#chat-log').value = ""
        document.querySelector('#chat-log').value += '\n----------------------------------------------------------------------\n\n\n----------------------------------------------------------------------\n';
        document.querySelector('#chat-log').value += 'Signature Squad\n\n----------------------------------------------------------------------\n'
        document.querySelector('#chat-log').value += 'Army\n\n----------------------------------------------------------------------\n'
        document.querySelector('#chat-log').value += 'Support\n\n----------------------------------------------------------------------\n'
        document.querySelector('#chat-log').value += 'Synapse\n\n----------------------------------------------------------------------\n'
        document.querySelector('#chat-log').value += 'Attachment\n\n----------------------------------------------------------------------\n'
        document.querySelector('#chat-log').value += 'Event\n\n----------------------------------------------------------------------\n'
        document.querySelector('#chat-log').value += 'Planet\n\n----------------------------------------------------------------------\n'
    }

    setInitialDeck();

    function notCheckedAlly() {
        document.querySelector('#ok-ally').innerHTML = "Checking...";
        sendAlly();
    }

    function sendDeckAuto() {
        addSavedDeck();
        sendDeck();
    }

    function addSavedDeck() {
        document.getElementById("chat-log").value = "";
        const name = document.getElementById("name-deck").value;
        document.getElementById("chat-log").value += name;
        document.getElementById("chat-log").value += "\n----------------------------------------------------------------------\n"
        const warlord_name = document.getElementById("warlord-card").children[0].id;
        document.getElementById("chat-log").value += warlord_name.split('_').join(' ');
        document.getElementById("chat-log").value += "\n{AUTOMAIN}";
        var e = document.getElementById("ally");
        if (e.selectedIndex != -1) {
            var text = e.options[e.selectedIndex].text;
            if (text !== "") {
                document.getElementById("chat-log").value += " (" + text + ")";
            }
        }
        const pledge_name = document.getElementById("pledge-card").children[0].id;
        if (pledge_name !== "Cardback_Two") {
            document.getElementById("chat-log").value += "\n";
            document.getElementById("chat-log").value += pledge_name.split('_').join(' ');
        }
        document.getElementById("chat-log").value += "\n----------------------------------------------------------------------\n"
        document.getElementById("chat-log").value += "Signature Squad\n\n";
        var elements = document.getElementById("signature-squad-cards").children;
        var text = "";
        for (i = 0; i < elements.length; i++) {
            var collection = elements[i].children;
            var count = "";
            var card_name = "";
            for (j = 0; j < collection.length; j++) {
                var id = collection[j].id;
                var trail = "";
                if (id.length > 5) {
                    trail = id.slice(-6);
                    console.log(trail);
                }
                if (trail === "-Count") {
                    count = collection[j].innerHTML;
                    count = count.split('').reverse().join('');
                } else {
                    card_name = collection[j].id;
                }
                //console.log(count);
                //console.log(card_name);
                //console.log(collection[j].id);
            }

            card_name = count + "x " + card_name.split('_').join(' ');
            document.getElementById("chat-log").value += card_name + "\n";
        }
        document.getElementById("chat-log").value += "----------------------------------------------------------------------\n";
        document.getElementById("chat-log").value += "Army\n\n";
        var elements = document.getElementById("army-cards").children;
        var text = "";
        for (i = 0; i < elements.length; i++) {
            var collection = elements[i].children;
            var count = "";
            var card_name = "";
            for (j = 0; j < collection.length; j++) {
                var id = collection[j].id;
                var trail = "";
                if (id.length > 5) {
                    trail = id.slice(-6);
                    console.log(trail);
                }
                if (trail === "-Count") {
                    count = collection[j].innerHTML;
                    count = count.split('').reverse().join('');
                } else if (trail === "crease") {

                } else {
                    card_name = collection[j].id;
                }
                //console.log(count);
                //console.log(card_name);
                //console.log(collection[j].id);
            }

            card_name = count + "x " + card_name.split('_').join(' ');
            document.getElementById("chat-log").value += card_name + "\n";
        }
        document.getElementById("chat-log").value += "----------------------------------------------------------------------\n";
        document.getElementById("chat-log").value += "Support\n\n";
        var elements = document.getElementById("support-cards").children;
        var text = "";
        for (i = 0; i < elements.length; i++) {
            var collection = elements[i].children;
            var count = "";
            var card_name = "";
            for (j = 0; j < collection.length; j++) {
                var id = collection[j].id;
                var trail = "";
                if (id.length > 5) {
                    trail = id.slice(-6);
                    console.log(trail);
                }
                if (trail === "-Count") {
                    count = collection[j].innerHTML;
                    count = count.split('').reverse().join('');
                } else if (trail === "crease") {

                } else {
                    card_name = collection[j].id;
                }
                //console.log(count);
                //console.log(card_name);
                //console.log(collection[j].id);
            }

            card_name = count + "x " + card_name.split('_').join(' ');
            document.getElementById("chat-log").value += card_name + "\n";
        }
        document.getElementById("chat-log").value += "----------------------------------------------------------------------\n";
        document.getElementById("chat-log").value += "Synapse\n\n";
        const synapse_name = document.getElementById("synapse-card").children[0].id;
        if (synapse_name != "Cardback") {
            document.getElementById("chat-log").value += "1x " + synapse_name.split('_').join(' ');
        }
        document.getElementById("chat-log").value += "\n----------------------------------------------------------------------\n";
        document.getElementById("chat-log").value += "Attachment\n\n";
        var elements = document.getElementById("attachment-cards").children;
        var text = "";
        for (i = 0; i < elements.length; i++) {
            var collection = elements[i].children;
            var count = "";
            var card_name = "";
            for (j = 0; j < collection.length; j++) {
                var id = collection[j].id;
                var trail = "";
                if (id.length > 5) {
                    trail = id.slice(-6);
                    console.log(trail);
                }
                if (trail === "-Count") {
                    count = collection[j].innerHTML;
                    count = count.split('').reverse().join('');
                } else if (trail === "crease") {

                } else {
                    card_name = collection[j].id;
                }
                //console.log(count);
                //console.log(card_name);
                //console.log(collection[j].id);
            }

            card_name = count + "x " + card_name.split('_').join(' ');
            document.getElementById("chat-log").value += card_name + "\n";
        }
        document.getElementById("chat-log").value += "\n----------------------------------------------------------------------\n";
        document.getElementById("chat-log").value += "Event\n\n";
        var elements = document.getElementById("event-cards").children;
        var text = "";
        for (i = 0; i < elements.length; i++) {
            var collection = elements[i].children;
            var count = "";
            var card_name = "";
            for (j = 0; j < collection.length; j++) {
                var id = collection[j].id;
                var trail = "";
                if (id.length > 5) {
                    trail = id.slice(-6);
                    console.log(trail);
                }
                if (trail === "-Count") {
                    count = collection[j].innerHTML;
                    count = count.split('').reverse().join('');
                } else if (trail === "crease") {

                } else {
                    card_name = collection[j].id;
                }
                //console.log(count);
                //console.log(card_name);
                //console.log(collection[j].id);
            }

            card_name = count + "x " + card_name.split('_').join(' ');
            document.getElementById("chat-log").value += card_name + "\n";
        }
        document.getElementById("chat-log").value += "\n----------------------------------------------------------------------\n";
        document.getElementById("chat-log").value += "Planet\n\n";
    }

    function sendDeck() {
        var chat_holder = document.querySelector('#chat-log').value;
        const name = document.getElementById("name-deck").value;
        if (name === "") {
            $('#responseMessage').text("Please give your deck a name");
        } else {
            $.ajax({
                url: '/decks/ajax/',  // The URL of the Django view that handles the request
                type: 'POST',
                data: {
                    'warlord_name': name_warlord,
                    'ally_faction': $('#ally').val(),
                    'username': $('#username').val(),
                    'deck_text': chat_holder,
                    'description': $('#descriptionInput').val(),
                    'flag': 'SENDDECK',
                    'force_send': force_send,
                    'csrfmiddlewaretoken': '{{ csrf_token }}' // CSRF token for security
                },
                success: function(response) {
                    $('#responseMessage').text(response.message);  // Update the page dynamically
                    const message = response.message;
                    force_send = "F";
                    if (message === "deck with that name already exists") {
                        force_send = "T";
                    } else if (message === "deck ok") {
                        location.href = "/decks/my_decks/";
                    }
                }
            });
        }
    }

    function incrementString(str) {
        var count = str.match(/\d*$/);
        return str.substr(0, count.index) + (++count[0]);
    };

    function decrementString(str) {
        var count = str.match(/\d*$/);
        return str.substr(0, count.index) + (--count[0]);
    };

    function addSigSquad(signature_squad) {
        for (var i = 0; i < signature_squad.length; i++){
            var sig_copies = signature_squad[i][0];
            var sig_card_name = signature_squad[i].slice(3);
            var sig_image_name = sig_card_name.split(' ').join('_');
            var img_src = "/static/images/CardImages/" + sig_image_name + ".jpg";
            var cardName = sig_card_name;
            var idName = sig_card_name.split(' ').join('_');
            var countName = idName + "-Count";
            var holderName = idName + "-Holder";
            for (var j = 0; j < sig_copies; j++){
                var e = document.getElementById(countName);
                if (typeof(e) != 'undefined' && e != null) {
                    var str = e.innerHTML;
                    str = incrementString(str);
                    e.innerHTML = str;
                } else {
                    var newPart = `<div class="card-name-and-count" id=`;
                    newPart += holderName;
                    newPart += `><div id=`;
                    newPart += idName + "-Count";
                    newPart += ` class="no-break">1`;
                    newPart += `</div><div class="no-break">x </div><div id=`;
                    newPart += idName;
                    newPart += ` class="no-break" onmouseenter="showImg(this)" onmouseleave="clearImg()" data-src=` + img_src + `>`;
                    newPart += cardName;
                    newPart += `</div></div>`
                    document.getElementById("signature-squad-cards").innerHTML += newPart;
                }
            }
        }
    }

    function addCard(card_type, cardName) {
        var idName = cardName.split(' ').join('_');
        var img_src = "/static/images/CardImages/" + idName + ".jpg";
        var countName = idName + "-Count";
        var holderName = idName + "-Holder";
        var e = document.getElementById(countName);
        if (typeof(e) != 'undefined' && e != null) {
            var str = e.innerHTML;
            if (str !== "3") {
                str = incrementString(str);
                e.innerHTML = str;
            }
        } else {
            var newPart = `<div class="card-name-and-count" id=`;
            newPart += holderName;
            newPart += `>`;
            newPart += `<input id=`;
            newPart += idName + "-Increase";
            newPart += ` type="button" value="+" onclick="incrementCount(this.id);">`
            newPart += `<div id=`;
            newPart += idName + "-Count";
            newPart += ` class="no-break">1</div>`;
            newPart += `<input id=`;
            newPart += idName + "-Decrease";
            newPart += ` type="button" value="-" onclick="decreaseCount(this.id);">`
            newPart += `<div id=`;
            newPart += idName;
            newPart += ` class="no-break" onmouseenter="showImg(this)" onmouseleave="clearImg()" data-src=` + img_src + `>`;
            newPart += cardName;
            newPart += `</div>`;
            newPart += `</div>`
            document.getElementById(card_type.toLowerCase() + "-cards").innerHTML += newPart;
        }
    }

    // Ajax add card function
    document.querySelector('#card-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#card-input');
        const message = messageInputDom.value;
        $.ajax({
            url: '/decks/ajax/',  // The URL of the Django view that handles the request
            type: 'POST',
            data: {
                'warlord_name': name_warlord,
                'ally_faction': $('#ally').val(),
                'card_name': message,
                'flag': 'ADDCARD',
                'csrfmiddlewaretoken': '{{ csrf_token }}' // CSRF token for security
            },
            success: function(response) {
                $('#responseMessage').text(response.message);  // Update the page dynamically
                const message = response.message;
                if (message === "Warlord") {
                    document.getElementById("signature-squad-cards").innerHTML = `Signature Squad`;
                    document.getElementById("army-cards").innerHTML = `Army Units`;
                    document.getElementById("event-cards").innerHTML = `Events`;
                    document.getElementById("attachment-cards").innerHTML = `Attachments`;
                    document.getElementById("support-cards").innerHTML = `Supports`;
                    name_warlord = response.warlord;
                    route = "/static/images/CardImages/" + name_warlord.split(' ').join('_') + ".jpg";
                    notCheckedAlly();
                    document.getElementById('warlord-card').innerHTML = `<img id=` + name_warlord.split(' ').join('_') + ` src=` + route + ` class="db-image" onmouseenter="showImg(this)" onmouseleave="clearImg()" data-src=` + route + `>`
                    document.getElementById('synapse-card').innerHTML = `<img id="Cardback" src="/static/images/CardImages/Cardback.jpg" class="db-image">`
                    document.getElementById('pledge-card').innerHTML = `<img id="Cardback_Two" src="/static/images/CardImages/Cardback.jpg" class="db-image">`
                    signature_squad = response.sig_squad;
                    addSigSquad(signature_squad);
                } else if (message === "ADDCARD") {
                    var card_type = response.card_type;
                    var cardName = response.card_name;
                    if (card_type === "Synapse") {
                        var synapseName = cardName.split(' ').join('_');
                        route = "/static/images/CardImages/" + synapseName + ".jpg";
                        document.getElementById('synapse-card').innerHTML = `<img id=` + synapseName + ` src=` + route + ` class="db-image" onmouseenter="showImg(this)" onmouseleave="clearImg()" data-src=` + route + `>`
                    } else if (card_type === "Pledge") {
                        var pledgeName = cardName.split(' ').join('_');
                        route = "/static/images/CardImages/" + pledgeName + ".jpg";
                        document.getElementById('pledge-card').innerHTML = `<img id=` + pledgeName + ` src=` + route + ` class="db-image" onmouseenter="showImg(this)" onmouseleave="clearImg()" data-src=` + route + `>`
                    } else {
                        addCard(card_type, cardName);
                    }
                }
            }
        });
        messageInputDom.value = '';
    };

    // Ajax search cards function
    $(document).ready(function() {
        $('#myForm').on('submit', function(event) {
            event.preventDefault();

            $.ajax({
                url: '/cards/ajax/',  // The URL of the Django view that handles the request
                type: 'POST',
                data: {
                    'search': $('#searchInput').val(),
                    'faction': $('#faction').val(),
                    'card_type': $('#cardType').val(),
                    'loyalty': $('#loyalty').val(),
                    'warlord_name': name_warlord,
                    'ally_faction': $('#ally').val(),
                    'traits': "",
                    'shields': "-1",
                    'min-cost': "-1",
                    'max-cost': "-1",
                    'min-command': "-1",
                    'max-command': "-1",
                    'min-attack': "-1",
                    'max-attack': "-1",
                    'min-health': "-1",
                    'max-health': "-1",
                    'redirect-enabled': "No",
                    'view-as': "Rows Mini",
                    'csrfmiddlewaretoken': '{{ csrf_token }}' // CSRF token for security
                },
                success: function(response) {
                    // $('#responseMessage').text(response.message);
                    const message = response.message;
                    current_page_number = 0;
                    var cardCount = 0;
                    var pageCount = 0;
                    var card_names = response.cards;
                    var card_types = response.card_types;
                    var loyalties = response.loyalties;
                    var factions = response.factions;
                    var attacks = response.attack;
                    var healths = response.health;
                    var costs = response.cost;
                    var commands = response.command;
                    var shields = response.shield;
                    const image_names = response.image_names;
                    e = document.getElementById("card-filter-results");
                    e.innerHTML = ``;
                    var img_src = "";
                    var img_link = "";
                    var new_string = "";
                    var new_id = "";
                    stored_image_links = [[]];
                    stored_image_names = [[]];
                    stored_card_names = [[]];
                    stored_card_types = [[]];
                    stored_card_loyalties = [[]];
                    stored_card_factions = [[]];
                    stored_card_attacks = [[]];
                    stored_card_healths = [[]];
                    stored_card_costs = [[]];
                    stored_card_commands = [[]];
                    stored_card_shields = [[]];
                    num_matches = image_names.length;
                    current_low_match = 1;
                    if (num_matches === 0) {
                        current_low_match = 0;
                    }
                    current_high_match = 20;
                    if (current_high_match > num_matches) {
                        current_high_match = num_matches;
                    }
                    page_counter = document.getElementById("card-counts-pages");
                    page_counter.innerHTML = `<p>Showing ` + current_low_match + `-` + current_high_match + ` of ` + num_matches + ` matches</p>`;
                    new_string += `
                    <div class="searched-card-headers">
                        <div class="mini-card-name">
                            Card Name
                        </div>
                        <div class="mini-card-type">
                            Card Type
                        </div>
                        <div class="mini-card-cost">
                            Cost
                        </div>
                        <div class="mini-card-attack">
                            ATK
                        </div>
                        <div class="mini-card-health">
                            HP
                        </div>
                        <div class="mini-card-command">
                            CMD
                        </div>
                        <div class="mini-card-shields">
                            SHLD
                        </div>
                    </div>`
                    for (let i = 0; i < image_names.length; i++) {
                        if (cardCount === 20) {
                            pageCount += 1;
                            cardCount = 0;
                            stored_image_links.push([]);
                            stored_image_names.push([]);
                            stored_card_names.push([]);
                            stored_card_types.push([]);
                            stored_card_loyalties.push([]);
                            stored_card_factions.push([]);
                            stored_card_attacks.push([]);
                            stored_card_healths.push([]);
                            stored_card_costs.push([]);
                            stored_card_commands.push([]);
                            stored_card_shields.push([]);
                        }
                        img_link = "/cards/" + image_names[i] + "/";
                        stored_image_links[pageCount].push(img_link);
                        img_src ="/static/images/CardImages/" + image_names[i] + ".jpg";
                        stored_image_names[pageCount].push(img_src);
                        stored_card_names[pageCount].push(card_names[i]);
                        stored_card_types[pageCount].push(card_types[i]);
                        stored_card_loyalties[pageCount].push(loyalties[i]);
                        stored_card_factions[pageCount].push(factions[i]);
                        stored_card_attacks[pageCount].push(attacks[i]);
                        stored_card_healths[pageCount].push(healths[i]);
                        stored_card_costs[pageCount].push(costs[i]);
                        stored_card_commands[pageCount].push(commands[i]);
                        stored_card_shields[pageCount].push(shields[i]);
                        if (pageCount === 0) {
                            new_string += `<div class="searched-card" onclick="quickAddCard(this)" onmouseenter="showImg(this)" onmouseleave="clearImg()" data-src=` + img_src + ` data-name=` + card_names[i].split(' ').join('_') + `>`
                            new_string += `<div class="mini-card-name">` + card_names[i] + `</div>`
                            new_string += `<div class="mini-card-type">` + card_types[i] + `</div>`
                            new_string += `<div class="mini-card-cost">` + costs[i] + `</div>`
                            new_string += `<div class="mini-card-attack">` + attacks[i] + `</div>`
                            new_string += `<div class="mini-card-health">` + healths[i] + `</div>`
                            new_string += `<div class="mini-card-command">` + commands[i] + `</div>`
                            new_string += `<div class="mini-card-shield">` + shields[i] + `</div>`
                            new_string += `</div>`
                        }
                        cardCount += 1;
                    }
                    max_page_number = pageCount;
                    e.innerHTML += new_string;
                }
            });
        });
    });


    // Ajax change ally
    function sendAlly() {
        $.ajax({
            url: '/decks/ajax/',  // The URL of the Django view that handles the request
            type: 'POST',
            data: {
                'warlord_name': name_warlord,
                'ally_faction': $('#ally').val(),
                'flag': 'SETALLY',
                'csrfmiddlewaretoken': '{{ csrf_token }}' // CSRF token for security
            },
            success: function(response) {
                $('#responseMessage').text(response.message);  // Update the page dynamically
                const message = response.message;
                const ally_result = response.ally_result;
                if (ally_result === "OK") {
                    document.querySelector('#ok-ally').innerHTML = "Ally OK";
                } else {
                    document.querySelector('#ok-ally').innerHTML = "Invalid Ally";
                }
            }
        });
    }
</script>
{% endblock %}
