{% extends "base.html" %}
{% block title %}Deck Data{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'deck_data.css' %}">
    {% if deck_found == "Y" %}
        <div id="main-deck-info">
            <div>
                <div>
                    <h1 id="deck-name">{{ deck_name }} by {{ creator }}</h1>
                    <h2>Deck Key: {{ deck_key }}</h2>
                    {% if public == "F" %}
                        <button class="button" id="publish" onclick="publishDeck();">Publish Deck</button>
                        <button class="button" id="modify" onclick="modifyDeck();">Modify Deck</button>
                        <button class="button" id="delete" onclick="deleteDeck();">Delete Deck</button>
                    {% elif public == "OWNER" %}
                        <button class="button" id="retract" onclick="retractDeck();">Retract Deck</button>
                    {% else %}
                        <button class="button" id="copy" onclick="copyDeck();">Copy Deck</button>
                    {% endif %}
                    <button class="button" id="download" onclick="downloadDeck();">Download Deck</button>
                    <button class="button" id="advanced" onclick="sendToAdvanced();">Adv. Details</button>
                </div><br>
                <h3 class="grid-section" id="factions">Faction(s): {{ factions }}</h3>
                <div id="large-grid">
                    <div class="large-grid-section" id="warlord">
                        <div id="warlord-image-container">
                            <a href={{ warlord_link }}>
                                <img id="warlord-image" src={{ warlord_img }}>
                            </a>
                        </div>
                    </div>
                    <div class="large-grid-section" id="synapse">
                        <div id="synapse-image-container">
                            {% if synapse_img != "None" %}
                            <a href={{ synapse_link }}>
                                <img id="synapse-image" src={{ synapse_img }}>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="large-grid-section-pledge" id="pledge">
                        <div id="pledge-image-container">
                            {% if pledge_img != "None" %}
                            <a href={{ pledge_link }}>
                                <img id="pledge-image" src={{ pledge_img }}>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    <div id="deck-grid">
                        <div class="grid-section" id="sig_cards">
                            <h2>Signature Squad</h2>
                            {% for card, link, src in sig_cards %}
                                <a href={{ link }}>
                                    <div onmouseenter="showImg(this)" onmouseleave="clearImg()" data-src={{ src }}>
                                        <h3 class="card-in-deck">{{ card }}</h3>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                        <div class="grid-army-section" id="army_cards">
                            <h2>Army Units ({{ army_card_count }} + {{ extra_army_cards }})</h2>
                            {% for card, link, src in army_cards %}
                                <a href={{ link }}>
                                    <div onmouseenter="showImg(this)" onmouseleave="clearImg()" data-src={{ src }}>
                                        <h3 class="card-in-deck">{{ card }}</h3>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                        <div class="grid-section" id="support_cards">
                            <h2>Supports ({{ support_card_count }} + {{ extra_support_cards }})</h2>
                            {% for card, link, src in support_cards %}
                                <a href={{ link }}>
                                    <div onmouseenter="showImg(this)" onmouseleave="clearImg()" data-src={{ src }}>
                                        <h3 class="card-in-deck">{{ card }}</h3>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                        <div class="grid-section" id="attachment_cards">
                            <h2>Attachments ({{ attachment_card_count }} + {{ extra_attachment_cards }})</h2>
                            {% for card, link, src in attachment_cards %}
                                <a href={{ link }}>
                                    <div onmouseenter="showImg(this)" onmouseleave="clearImg()" data-src={{ src }}>
                                        <h3 class="card-in-deck">{{ card }}</h3>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                        <div class="grid-section" id="event_cards">
                            <h2>Events ({{ event_card_count }} + {{ extra_event_cards }})</h2>
                            {% for card, link, src in event_cards %}
                                <a href={{ link }}>
                                    <div onmouseenter="showImg(this)" onmouseleave="clearImg()" data-src={{ src }}>
                                        <h3 class="card-in-deck">{{ card }}</h3>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="author-desc-container">
            <div id="author-desc-text">
                <h2>Description from the author</h2>
            </div>
        </div>
        <div id="description-area">
            <div id="desc-id">
                <h4 id="desc-text">{{ description|linebreaks }}</h4>
            </div>
        </div>
        {% if public != "F" %}
            <div id="card-reviews">
                {% if noc is True %}
                    <div>
                        No comments yet.
                    </div>
                {% endif %}
                {% for name, time, text, id in comments %}
                <div class="comment-class">
                    <div class="comment-name">
                        <img class="comment-avatar" src="/media/{{ name }}.jpg" onerror="this.onerror=null; this.src='/static/images/defaultprofile.jpg'">
                        <p>{{ name }}<br>{{ time }}</p>
                    </div>
                    <h3 class="comment-content"> {{ text|linebreaks }}</h3>
                    {% if user.username == name %}
                        <form class="delete-comment" method="post">
                            {% csrf_token %}
                                    <input name="username" value="{{ user.username }}" style="display:none;">
                                    <input name="flag" value="DELETE" style="display:none;">
                                    <input name="idcomment" value="{{ id }}" style="display:none;">
                            <button type="submit">Delete</button>
                        </form>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <form id="comment-form" method="post">
                {% csrf_token %}
                Write a comment using the text box below.<br>
                <input id="username" name="username" value="{{ user.username }}" style="display:none;">
                <input name="flag" value="POST" style="display:none;">
                <textarea id="commentInput" name="comment" rows="10" cols="80"></textarea><br>
                <button type="submit">Submit</button>
            </form>
        {% endif %}
        <img id="cursor-follower" src="/static/images/CardImages/Cardback.jpg">
    {% else %}
        <h2>deck not found</h2>
    {% endif %}
<script>
    var mouse_x = 0;
    var mouse_y = 0;
    var deck_text = "{{ deck_content }}";
    deck_text = deck_text.split("|||").join("\n");
    deck_text = deck_text.replace(new RegExp("&"+"#"+"x27;", "g"), "'");
    onmousemove = function(e){
        mouse_x = e.clientX + window.scrollX;
        mouse_y = e.clientY * (0.5) + 80 + window.scrollY;
    }
    function showImg(el) {
        var new_src = el.getAttribute('data-src');
        cursor_img = document.getElementById("cursor-follower");
        cursor_img.style.left = mouse_x + 30 + "px";
        cursor_img.style.top = mouse_y + 30 + "px";
        cursor_img.src = new_src;
        cursor_img.style.display = "block";
    }
    function clearImg() {
        cursor_img = document.getElementById("cursor-follower");
        cursor_img.src = "/static/images/CardImages/Cardback.jpg";
        cursor_img.style.display = "none";
    }

    function retractDeck() {
        const current_url = document.URL;
        const url_split = current_url.split("/");
        const key = url_split[url_split.length - 2];
        location.href = "/decks/retract_deck/" + key + "/";
    }

    function sendToAdvanced() {
        const current_url = document.URL;
        const url_split = current_url.split("/");
        const creator = url_split[url_split.length - 3];
        const key = url_split[url_split.length - 2];
        location.href = "/decks/" + creator + "/" + key + "/advanced_deck_details/"
    }

    function copyDeck() {
        const current_url = document.URL;
        const url_split = current_url.split("/");
        const key = url_split[url_split.length - 2];
        location.href = "/decks/copy_deck/" + key + "/";
    }

    function publishDeck() {
        const current_url = document.URL;
        const url_split = current_url.split("/");
        const key = url_split[url_split.length - 2];
        location.href = "/decks/publish_deck/" + key + "/";
    }
    function modifyDeck() {
        const current_url = document.URL;
        const url_split = current_url.split("/");
        const key = url_split[url_split.length - 2];
        location.href = "/decks/create_deck/" + key + "/";
    }
    function downloadDeck() {
        var element = document.createElement('a');
        element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(deck_text));
        element.setAttribute('download', 'deck.txt');

        element.style.display = 'none';
        document.body.appendChild(element);

        element.click();

        document.body.removeChild(element);
    }

    function deleteDeck() {
        const current_url = document.URL;
        const url_split = current_url.split("/");
        const key = url_split[url_split.length - 2];
        location.href = "/decks/delete_deck/" + key + "/";
    }
</script>
{% endblock %}
