{% extends "base.html" %}
{% block title %}Decks Lookup{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'home_decks.css' %}">
    <h1>Decks Placeholder</h1>
    <div id="main-container">
        <div id="buttons-container">
            <a href="/decks/my_decks/">
                <button class="button">View your decks</button>
            </a>
            <div></div>
            <a href="/decks/published_decks/">
                <button class="button">View published decks</button>
            </a>
            <div></div>
            <a href="/decks/create_deck/">
                <button class="button">Create a deck</button>
            </a>
        </div>
        <div id="featured-container">
            <h2>Featured decklist</h2>
        </div>
    </div>
{% endblock %}
