{% extends "base.html" %}
{% block title %}Decks Home{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'home_decks.css' %}">
    <div id="main-container">
        <div class="buttons-container">
            <div id="blank-1">

            </div>
            <div id="blank-2">

            </div>
            <div id="my-decks-header">
                Your Decks
            </div>
            <div id="published-decks-header">
                Published Decks
            </div>
            <div id="deck-creation-header">
                Deck Creation
            </div>
            <a href="/decks/my_decks/1/" class="grid-item" id="my-decks">
                <button class="button">View your decks</button>
            </a>
            <a href="/decks/published_decks/1/" class="grid-item" id="published-decks">
                <button class="button">View published decks</button>
            </a>
            <a href="/decks/my_published_decks/1/" class="grid-item" id="my-published-decks">
                <button class="button">View your published decks</button>
            </a>
            <a href="/decks/my_liked_decks/1/" class="grid-item" id="my-liked-decks">
                <button class="button">View your liked decks</button>
            </a>
            <a href="/decks/search_deck/" class="grid-item" id="search-decks">
                <button class="button">Search published decks</button>
            </a>
            <a href="/decks/create_deck/select_warlord/" class="grid-item" id="create-deck">
                <button class="button">Create a deck</button>
            </a>
            <a href="/decks/import_deck/" class="grid-item" id="import-deck">
                <button class="button">Import a deck</button>
            </a>
        </div>
        <div id="featured-container">
            <div>
                <h2>Featured decklist</h2>
                {% if decks_exist == "Yes" %}
                    {% for name, warlord_name, date, img_src, key, creator_name in decks %}
                        <a href="/decks/{{ creator_name }}/{{ key }}">
                        <div class="deck-item-grid">
                            <h3 class="decklist-name">{{ name }}</h3>
                            <h3 class="creator-name">{{ creator_name }}</h3>
                            <h3 class="warlord-name">{{ warlord_name }}</h3>
                            <h3 class="date">{{ date }}</h3>
                            <img class="preview-image" src="{{ img_src }}">
                        </div>
                        </a>
                    {% endfor %}
                {% else %}
                    <h3>No recent decks to feature</h3>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
