#card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

#mistarget-info {
    position: fixed;
    display: none;
    z-index: 1000;
    border-width: 2px;
    border-style: double;
    border-color: lightblue;
    background: rgba(47, 40, 153, 0.3);
    color: yellow;
    margin-left: 40vw;
    top: -10vh;
    min-width: 20vw;
    text-align: center;
    max-width: 20vw;
    font-size: 30px;
    line-height: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.Card {
    cursor: pointer;
}

.header-card-area {
    text-align: center;
}

@media print {
    button, nav, header, .sidebar, h1, h2, p, span, form, input, #cardBinderContainer, .no-print {
        display: none !important;
    }

    #card-grid {
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 0px !important;
    }

    .card {
        break-inside: avoid;
        width: 6.50cm !important;
        height: 9.00cm !important;
    }

    .Card {
        width: 6.50cm !important;
        height: 9.00cm !important;
        border: 0.075cm solid black;
        transform: scale(1);
    }
}
