.Card {
    position: relative;
    height:8vh;
    width:5vw;
}

.Card-saved-box {
    position: relative;
    width: 50px;
    height: 70px;
}

.no-break {
    display: inline;
}

.db-image {
    width: 90px;
    height: 125px;
}

.auto-deck-build {
    background: rgba(47, 40, 153, 0.3);
    width: 690px;
    height: 525px;
    border: 5px solid green;
    display: grid;
    grid-template-columns: 90px 90px 50px 40px 70px 120px 230px;
    grid-template-rows: 125px 200px 200px;
    grid-template-areas:
    "warlord-card synapse-card pledge-card pledge-card details details details"
    "signature-squad-cards signature-squad-cards signature-squad-cards army-cards army-cards army-cards army-cards"
    "event-cards event-cards event-cards attachment-cards attachment-cards attachment-cards support-cards";
}

.auto-deck-build > #details {
    background: rgba(47, 40, 153, 0.3);
    border: 1px solid black;
    text-align: center;
}

.auto-deck-build > .db-section {
    background: rgba(47, 40, 153, 0.3);
    border: 1px solid black;
    text-align: left;
    overflow-y:auto;
}

#warlord-card {
    grid-area: warlord-card;
}

#synapse-card {
    grid-area: synapse-card;
}

#pledge-card {
    grid-area: pledge-card;
}

#details {
    grid-area: details;
}

#signature-squad-cards {
    grid-area: signature-squad-cards;
}

#army-cards {
    grid-area: army-cards;
}

#event-cards {
    grid-area: event-cards;
}

#support-cards {
    grid-area: support-cards;
}

#attachment-cards {
    grid-area: attachment-cards;
}

#manual-deck-import {
    display: none;
}

#deck-container {
    position: fixed;
    left: 100px;
    top: 100px;
}

#cursor-follower {
    position:absolute;
    width: 300px;
    height: 420px;
    display:none;
}

.mini-card-name, .mini-card-faction {
    width: 200px;
}

.mini-card-type, .mini-card-loyalty {
    width: 100px;
}

#description-container {
    position: absolute;
    left: 900px;
    top: 100px;
}

#card-filter-results {
    border: 2px solid blue;
}

.searched-card {
    position: relative;
    margin-top: 10px;
    border: 1px solid gray;
    left: 0;
    width:100%;
    overflow-x: auto;
    display: flex;
    justify-content: center;
}

#mini-card-search-container {
    position: absolute;
    cursor: pointer;
    left: 900px;
    top: 500px;
}

.box {
    width: 40vw;
    height: 300px;
    background-color: lightblue;
    border: 2px solid blue;
    padding: 10px;
    margin: 10px;
    overflow-y: scroll;
}

#filters-container {
    width: 600px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "p-card-name search p-card-type card-type"
    "p-faction faction p-loyalty loyalty";
}

#prev-page {
    position:relative;
    left:0;
    top:0;
    height: 50px;
    width: 200px;
}

#next-page {
    position:relative;
    right:0;
    top:0;
    height: 50px;
    width: 200px;
    margin-left: 200px;
}

.saved-deck-box {
    width: 200px;
    height: 70px;
    background-color: lightblue;
    border: 2px solid blue;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

#existing-decks {
    position: absolute;
    left:max(600px, calc(100vw - 280px));
    width:260px;
    top:75px;
    overflow-y: scroll;
    max-height: 80vh;
}