@media (min-width: 768px) {
    .navbar-brand-custom {
      float: left;
      height: 50px;
      padding: 15px 15px;
      font-size: 18px;
      line-height: 20px;
    }
}

@font-face {
    font-family: fontConquest;
    src: url('fonts/conquest_symbols/ConquestFonts-Regular.otf');
}

.faction-icon-font {
    font-family: fontConquest;
}

.avatar {
    width: 40px;
    height: 40px;
}

#log-out-message {
    top: 14px;
    position: relative;
}

#log-out-button {
    position: relative;
    margin-top: 12px;
    color: black! important;
}

body {
    background-size: cover;
}

.navbar-icon {
    height: 40px;
    margin-top: -10px;
}

#main-avatar {
    margin-top: 5px;
}