li {
  display: inline;
  float: left;
}

.navibar {
    height: 50px;
}

@font-face {
    font-family: fontConquest;
    src: url('fonts/conquest_symbols/ConquestFonts-Regular.otf');
}

.faction-icon-font {
    font-family: fontConquest;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
}

.dropdown-item {
    clear: left;
}

.dropdown-toggle {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  white-space: nowrap;
}

.dropdown-menu {
    z-index: 9999 !important;
    position: absolute;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    font-size: 14px;
    text-align: left;
    list-style: none;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.avatar {
    position:absolute;
    width: 40px;
    height: 40px;
    right: 90px;
}

.pull-right {
    float: right
}

#loggedin-name {
    position:absolute;
    top: 13px;
    right: 140px;
}

#log-out-message {
    top: 14px;
    position: relative;
}

#log-out-button {
    position:absolute;
    top: 12px;
    right: 20px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

body {
    background-size: cover;
    padding-bottom: 100px;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid #f4f4f4
}

#main-avatar {
    margin-top: 5px;
}