body {
    background-color: #282626;
}

@font-face {
    font-family: fontVenite;
    src: url('fonts/venite_adoremus/Venite Adoremus Straight.otf');
}

footer {
    font-family: Arial, sans-serif;
}

input {
    font-family: Arial, sans-serif;
}

select {
  font-family: Arial, sans-serif;
}

li {
    font-family: Arial, sans-serif;
}

button {
    font-family: Arial, sans-serif;
}

p {
    font-family: Arial, sans-serif;
    color: white;
}

div {
    font-family: Arial, sans-serif;
    color: white;
}

h1 {
    font-family: Arial, sans-serif;
    color: white;
}

h2 {
    font-family: Arial, sans-serif;
    color: white;
}

h3 {
    font-family: Arial, sans-serif;
    color: white;
}