body {
    background-color: #282626 !important;
}

#comment-form {
    color: white;
    margin-left: 100px;
}

select {
    color:black !important;
}

.navi-user-profile-link {
  display: inline;
  color: white;
  text-align: center;
  padding: 0px;
  text-decoration: none;
}

@font-face {
    font-family: fontVenite;
    src: url('fonts/venite_adoremus/Venite Adoremus Straight.otf');
}

footer {
    font-family: Arial, sans-serif;
}

input {
    font-family: Arial, sans-serif;
}

select {
  font-family: Arial, sans-serif;
}

li {
    font-family: Arial, sans-serif;
}

textarea {
    color: black !important;
}

.black-button {
    color: black !important;
}

button {
    font-family: Arial, sans-serif;
}

p {
    font-family: Arial, sans-serif;
    color: white;
}

div {
    font-family: Arial, sans-serif;
    color: white;
}

h1 {
    font-family: Arial, sans-serif;
    color: white;
}

.jumbotron-custom {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #444;
}

h2 {
    font-family: Arial, sans-serif;
    color: white;
}

h3 {
    font-family: Arial, sans-serif;
    color: white;
}