body {
    background-color: #FFFFFF;
}

@font-face {
    font-family: fontVenite;
    src: url('fonts/venite_adoremus/Venite Adoremus Straight.otf');
}

footer {
    font-family: fontVenite, Arial, sans-serif;
}

input {
    font-family: fontVenite, Arial, sans-serif;
}

select {
  font-family: fontVenite, Arial, sans-serif;
}

button {
    font-family: fontVenite, Arial, sans-serif;
}

li {
    font-family: fontVenite, Arial, sans-serif;
}

p {
    font-family: fontVenite, Arial, sans-serif;
    color: black;
}

div {
    font-family: fontVenite, Arial, sans-serif;
    color: black;
}

h1 {
    font-family: fontVenite, Arial, sans-serif;
    color: black;
}
h2 {
    font-family: fontVenite, Arial, sans-serif;
    color: black;
}
h3 {
    font-family: fontVenite, Arial, sans-serif;
    color: black;
}